[2020-02-20 20:11] pradeep90 opened #238 "Server should return JSON dictionary with top-level `errors` field."
We need to repro and investigate why the server sometimes returns a json response of the form `{'response': {'errors': []}}` instead of `{'errors': []}`.

[2020-02-20 20:28] MaggieMoss commented on #236
Hi there!

We have a fix ready to go for this that will be included in our next release. We should be releasing this week :) Thanks so much for the report!

[2020-02-20 20:28] #236 closed

[2020-02-20 20:35] MaggieMoss commented on #213
Wanted to give an update here - we've added support for the walrus operator and positional only parameters recently, and those updates will be included in our next release :)

[2020-02-20 21:06] anentropic commented on #236
awesome 👍

[2020-02-22 01:03] #216 closed

[2020-02-25 00:34] thefallentree commented on #216
@MaggieMoss  this reappeared again in 0.0.43,  after installation, typeshed directory is missing

./venv/lib/pyre_check/typeshed is not a valid directory.

[2020-02-25 00:46] MaggieMoss commented on #216
@thefallentree  is this on linux or mac? I'll take a look now.

[2020-02-25 01:21] thefallentree commented on #216
I did pip install , and it fails both on osx and mac.

[2020-02-25 02:34] samuela opened #240 "pyre upgrade to version 0.0.36 produces errors"
Ok, I have a project that I typecheck with pyre. Everything typechecks fine in all the versions I've tested up to 0.0.33, but then starting with version 0.0.36 I'm getting all kinds of errors. (Note that there were no versions released between 0.0.33 and 0.0.36: https://pypi.org/project/pyre-check/#history.)

[code]

I've attached the source code here: [research.zip](https://github.com/facebook/py

[2020-02-26 15:34] fliepeltje opened #241 "incorrect error with constrained TypeVar"
When returning a value that fits within the typevar constraint, the checker returns an `Incompatible return type [7]` error. To reproduce:
[code]

This raises `Incompatible return type [7]: Expected Variable[T <: [int, str]] but got int` and `Incompatible return type [7]: Expected Variable[T <: [int, str]] but got str`

This works correctly:
[code]

[2020-02-26 18:56] mrkmndz commented on #241
We don't currently support this use of explicit type variables.  We already enforce the exterior behavior necessary to make this sound (e.g `fn(my_int_subclass) -> int`, not `my_int_subclass`), but have not yet implemented the internal logic to accept these cases as demanded by PEP 484.

Doing so would require some fairly significant extensions to our type variable system, and would be something w

[2020-03-05 18:56] stevenjackson121 opened #242 "[Enhancement] Kwargs TypeChecking Fails When Using **dict"
MyPy doesn't handle this [either](https://github.com/python/mypy/issues/8485), but it might be a smaller lift to add support in `pyre` because (superficially anyways) it seems related to ParameterSpecification and https://www.python.org/dev/peps/pep-0612/.

The issue is that there's no way to annotate the `params` dictonary such that errors will be raised on line 19 (`invoke(**params)`) if and onl

[2020-03-23 14:59] guibur opened #245 "typeshed dependency has been removed from pypi"
On a fresh virtual environment running python3.6, the command `pip install pyre-check` can't succeed as it can't find a matching distribution for `typeshed`:

[code]

It seems related to this issue from typeshed: https://github.com/python/typeshed/issues/3001 . Typeshed has been removed from pypi 3 weeks ago.

[2020-03-23 17:50] MaggieMoss commented on #245
Hi @guibur thanks for reporting. I'm currently working on fixing this.

[2020-03-23 23:40] ngonewd opened #246 "pyre-check 0.0.44+ is incompatible with python 3.6"
When running pyre using python 3.6, the following error is produced:

[code]

This seems to be the result of using the `text=True` keyword parameter of `subprocess.run`, which was introduced in python 3.7 and was not back ported.

[2020-03-24 00:38] gbleaney commented on #246
Thanks for the report @ngonewd! I guess we were too excited to use the latest and greatest :). @MaggieMoss is working on fixing this, I'll let you know when we've shipped it.

[2020-03-24 17:28] MaggieMoss commented on #245
This has been resolved in the latest release. Thanks again for flagging :)

[2020-03-24 17:28] #245 closed

[2020-03-24 17:29] MaggieMoss commented on #246
@ngonewd @gbleaney should be resolved in this morning's release. Thanks again for flagging!

[2020-03-24 17:29] #246 closed

[2020-03-24 17:59] guibur commented on #245
Thanks for the quick fix. I could install Pyre without any trouble.

[2020-03-24 20:27] arthaud commented on #219
This should be fixed in 8a73fbdd6f7e74fa832ecbf5a9e2ebe20be46cd5. Thanks for the report!

[2020-03-24 20:28] #219 closed

[2020-03-26 21:40] MaggieMoss commented on #240
Hi @samuela looks like this might have been the result of a typeshed update.

Couple of questions - do these errors persist in later versions of Pyre? Are all of the newly reported errors found in stubs?

[2020-04-06 17:54] #217 closed

[2020-04-06 17:54] #213 closed

[2020-04-06 17:57] MaggieMoss commented on #188
Closing this issue with some links to LibCST documentation:
- https://libcst.readthedocs.io/en/latest/metadata.html#type-inference-metadata
- https://libcst.readthedocs.io/en/latest/codemods_tutorial.html

[2020-04-06 17:57] #188 closed

[2020-04-06 17:59] MaggieMoss commented on #94
This is supported in the most recent Pyre releases. Thanks again for flagging :)

[2020-04-06 17:59] #94 closed

[2020-04-07 22:15] aspin commented on #197
Does any documentation exist on this? I'm just another open-source user stuck on 0.28 since fixing this is a pretty huge dig in our codebase. Running `pyre-upgrade` just seems to hang for me /shrug

[2020-04-09 21:48] MaggieMoss commented on #242
cc: @mrkmndz do you have some context here?

[2020-04-17 17:23] aspin opened #250 "List comprehensions with optional values"
With new changes to how strictly optional values are handled, is there a correct way to do list comprehensions that filter on that optional attribute not None?

For example:

[code]

[2020-04-17 17:26] aspin commented on #250
I suppose this works, but is that the only way to do things?

[code]

[2020-04-17 18:35] arthaud commented on #250
Hi @aspin,

This is indeed the typical optional refinement problem. We are not allowed to deduce that `data.field` is not `None` because it could be updated by another thread.

The usual workaround is to create a local variable. In your case, since you are using a comprehension list, you would need to create another temporary list/generator, as in your example. I found another way that is shorter,

[2020-04-20 04:24] MaggieMoss commented on #240
Closing this for now. @samuela  feel free to re-open if the issue has still not been solved :)

[2020-04-20 04:24] #240 closed

[2020-04-20 04:26] MaggieMoss commented on #204
Hmm. This looks like an issue with our scripts expecting mercurial to be installed. Assigning this to myself, thanks for flagging.

[2020-04-20 11:41] caot commented on #204
@MaggieMoss If it's python code, the following to log errors would save lot of efforts:
[code]

[2020-04-20 13:46] matejcik opened #251 "flow control analysis doesn't handle infinite loops"
the following code will fail to typecheck:
[code]
error is:
[code]

[2020-04-20 13:53] matejcik opened #252 "Support for __debug__ special variable"
the following code will fail to type-check:
[code]
error is:
[code]

This is reasonable for plain old boolean variables. But pyre should know that `__debug__` is statically known to be `True` (maybe even configurable to `False`?) and evaluate the above code accordingly.

pyre-check 0.0.46
Binary version: 407d1bc850869348d1c8c680c546618585bce2b1
Client version: internal-dev

[2020-04-20 13:54] matejcik commented on #251
pyre-check 0.0.46
Binary version: 407d1bc850869348d1c8c680c546618585bce2b1
Client version: internal-dev

[2020-04-21 19:14] MaggieMoss commented on #252
Hi @matejcik thanks for reporting. It looks like the issue isn't that Pyre doesn't know that `__debug__` is a boolean value, but that the variable `some_var` is optionally defined. This is the expected behaviour.

For example:

[code]
Still has the following error:

[code]

What I would recommend is to define `some_var` as False outside of the conditional.

[code]

[2020-04-21 19:41] matejcik commented on #252
hello @MaggieMoss,

indeed. the issue is that `__debug__` is **statically known** boolean value, which does not change during execution

i.e. the sample code is equivalent to (as long as python runs with `-O0`)

[code]
which indeed type-checks as valid in Pyre

I understand that declaring the variable outside the conditional would help Pyre here, as it does help in your example. My actual usecase

[2020-04-21 19:43] matejcik commented on #252
see also: https://docs.python.org/3/library/constants.html and https://docs.python.org/3/reference/simple_stmts.html#assert :

[2020-04-21 21:54] mrkmndz commented on #252
I believe the `if True` example only works because we're able to completely eliminate that optional check.  Supporting this use case would require us to re-do the analysis for both debug=True and debug=False, or either restructure our resolution data structures to condition existence of variables on particular boolean values.  This devolves into quadratic check work very quickly.

In general one o

[2020-04-21 21:54] #252 closed

[2020-04-22 05:48] matejcik commented on #252
this would be nice, but a sufficient solution is to leave this choice to the user, same way python interpreter does

entirely too much work, that also seems to assume that there are going to be more such variables in the future. Again, per https://docs.python.org/3/library/constants.html:

so `__debug__` is indeed a one-time special case

---

Perhaps an acceptable solution would be a new feature

[2020-04-22 07:45] matejcik commented on #252
...OTOH conditional blocks should not change _typing_ information, so AFAICT this issue only affects the "undefined name" check. So a good workaround for my case would be disabling that particular check.

[2020-04-22 23:25] mrkmndz commented on #252
An active goal of this project is to minimize the amount of differences in type checking results based on configuration options.  We'd like folks to be able to anticipate what Pyre will do just looking at the files themselves, without having to ask questions about the configuration.

One could easily create other global constants with Final (https://www.python.org/dev/peps/pep-0591/)

You can do t

[2020-04-23 19:29] ufl-taeber opened #254 "Bug - "Could not prase file" with theta"
Pyre fails to parse files with `θ` (and most likely other non-ASCII characters supported by CPython).

[code]
[code]

I'm using Python 3.7.7 installed via homebrew on macOS Catalina 10.15.4.
[code]

[2020-04-23 21:46] mrkmndz commented on #254
The background here is that our lexer library is not unicode compatible :/. Therefore supporting this would require reimplementing our lexing into a new library, which would be a significant amount of work.

We do plan on doing this at some point, but it will likely be a while.

[2020-04-23 21:46] #250 closed

[2020-04-23 21:58] mrkmndz commented on #251
I was able to fix this with https://github.com/facebook/pyre-check/commit/0769f1c52efe32fc55b7af978c493d3863d05d01 and https://github.com/facebook/pyre-check/commit/d8dbef75faa77fc1bd5dad1bbe9bc9682d6d4c1d.

These should be included in the next open-source release, or you can build a local version of pyre to use for yourself.

Thank you for the nicely minimized report!

[2020-04-23 21:58] #251 closed

[2020-04-24 12:29] nazariyv opened #255 "binary property in .pyre_configuration, how to make it work like /usr/bin/env pyre"
The problem that I have come across is figuring out how to specify the path of pyre binary in `.pyre_configuration` such that the CI job picks up current python environment's pyre binary

When going through the documentation, I have found these two sentences

[code]

but unfortunately, I do not understand what the second sentence means

I have tried this, but after running `pyre check` I get an er

[2020-04-24 12:39] nazariyv commented on #255
I can see in the source code that it uses `os.path.exists` and that is why this path is invalid. I can also see that `binary` is Optional. Removing it from the config seems to do the trick, as I presume it simply picks up the calling binary when I do `pyre check`. Closing this.

[2020-04-24 12:39] #255 closed

[2020-04-29 03:36] gakshay47 opened #257 "Pyre-check for Intel corei7 / Win8.1 OS"
Hi Team,

I need pyre-check for Intel i7 / Win8.1 OS for my educational purpose. Please help me with the resource.

Thanks

[2020-05-02 13:34] PeterJCLaw opened #258 "False positive when combining literals and overloads"
Given the following code, `pyre` outputs an error that the first overload signature is not valid for the given implementation, which I believe is incorrect.

[code]

My [original use-case](https://github.com/PeterJCLaw/srcomp/blob/9722ee6da5484fc6574b0e759c7769085f86d8eb/sr/comp/raw_compstate.py#L130-L163) for this is that the value of the boolean controls the kind of the return type (which is exp

[2020-05-04 23:38] MaggieMoss commented on #257
Hi @gakshay47  thanks for the request - we'll discuss it as a team and let you know if this is something we can support in the near future.

[2020-05-06 09:52] neomatrix369 opened #259 "[Question] Can Pyre-check help in finding duplicate test cases"
Similar to the ideas expressed in the Refactoring query #188 I was thinking has anyone (or can it even be done) used Pyre-check to find duplicate test cases (for Python projects/tests).

I was thinking a duplicate test case would be traversing the same AST from start to finish (or nearly the same AST, give or take).

So if we ran a number of tests individually (or together) and kept a track of the

[2020-05-11 15:51] pradeep90 commented on #259
I don't think we plan to support this. If you want to deal with AST-level information, I think you'd be better served with LibCST, as mentioned on #188.

I'm not aware of existing solutions for this.

[2020-05-11 15:51] #259 closed

[2020-05-11 17:45] abadger opened #263 "source-directory is not added to the search-path"
I'm not sure if this is a bug or intended behaviour.  I would have asked on an irc channel but couldn't find any such place in the documentation.  Sorry if I just missed that!

I am seeing a variety of symptoms which are all solved by putting the directory above the source-directory into search-path.  I'm not sure if all (or even any) of the symptoms are bugs or if they're considered just how pyre

[2020-05-11 19:55] ppwwyyxx commented on #52
Found that `**/__init__.py` is not supported in `ignore_all_errors` field.

[2020-05-12 17:40] arthaud commented on #258
Hi @PeterJCLaw,

If you remove the `*` parameter in the first overload, this works properly. We don't handle correctly `*` parameters in overloads, this is a known issue.

[2020-05-12 20:28] PeterJCLaw commented on #258
@arthaud thanks for the response.

Unfortunately my [original use-case](https://github.com/PeterJCLaw/srcomp/blob/9722ee6da5484fc6574b0e759c7769085f86d8eb/sr/comp/raw_compstate.py#L130-L163) has other arguments such that removing the `*` changes the overload to no longer be valid for the actual implementation.

If you've got another task for `*` in overloads feel free to close this as a duplicate

[2020-05-14 09:11] bigfoot31 opened #264 "Example of excluding test files"
the following config is not working
`exclude: ["test_.*"]`

[2020-05-14 14:58] gbleaney commented on #264
@bigfoot31 could you try `exclude: [".*/test_.*"]`? If that doesn't work, could you provide a bit more information about the directory structure of your project? Maybe a sample of the output from `tree YOUR_DIRECTORY`?

[2020-05-15 13:12] pawelrubin opened #265 "Install watchman link broken"
After **pyre-check** fails to find **whatchman** binary:
[code]

Correct link is: [https://facebook.github.io/watchman/docs/install](https://facebook.github.io/watchman/docs/install)

[2020-05-15 13:49] gbleaney commented on #233
@pablo-meier did you ever manage to get to the bottom of this? I really want to make sure we get this fixed.

[2020-05-15 14:36] gbleaney commented on #265
@pawelrubin thanks for pointing that out! I've fixed the link now. You should see it in the repo soon, and it should be correct in the next release of pyre

[2020-05-15 14:36] #265 closed

[2020-05-15 15:14] pablo-meier commented on #233
I wasn't able to pursue it to its end, unfortunately. I'll give it another crack on the current versions of both `pyre` and the codebase that produced this, thanks for the reminder 😄

[2020-05-16 05:22] bigfoot31 commented on #264
Working. Thank you

[2020-05-16 05:22] #264 closed

[2020-05-19 17:51] MaggieMoss commented on #263
@abadger

Just curious - have you considered adding a `.pyre_configuration` where you could specify the search path and source directories?

cc: @grievejia for questions about search paths

[2020-05-19 19:45] grievejia commented on #263
@abadger
- The `search_path` option is intended for external library code you do not control. Files that live under `search_path` will be looked up for class/function definitions but Pyre will never emit any type errors for them. Therefore if you want to see a file get checked by Pyre, you don't want to put its containing folder under `search_path`.
- The way absolute qualification works is that P

[2020-05-20 14:18] abadger commented on #263
@grievejia Thanks!  Okay, I'll just need to move the code I'm checking into a subdirectory, then.   Out of curiousity, is there a reason that pyre does it this way?  It seems like all other linting tools (mypy, pylint, flake8, etc) allow you to specify the toplevel-python-module-to-check from the command line rather than a directory-containing-toplevel-python-modules-to-check.

* For the relative

[2020-05-20 14:18] #263 closed

[2020-05-20 18:33] grievejia commented on #263
Laziness 😆

Jokes aside, I think the issue is that currently the code quality of the Pyre cli is in a sorry state. This adds unnecessarily friction when someone wants to add/change the cli's behavior. I do think that the request of adding a flag to set the toplevel module path is reasonable. It's just that it might take quite a while for it to happen :(

To clarify: the new directory structure you

[2020-05-21 22:23] aspin opened #267 "Instantiating implementations of an abstract class from Type fail type validation"
Basically, if `T` is abstract, then `pyre` seems to assume that any variable annotated with `Type[T]` is also abstract. According to [docs], `Type[T]` accepts subclasses of `T`, so I don't think this is correct behavior.

Here's a code sample demonstrating:

[code]

And the error:
[code]

[docs]: https://docs.python.org/3/library/typing.html#typing.Type

[2020-05-29 03:34] bigfootjon commented on #195
I've got the same problem, I use the `@classonlymethod` annotation to make sure that callers have to use the full class name instead of `self`. It helps reason about what the method might do.

[2020-05-29 03:44] mrkmndz commented on #195
Im currently working on supporting class-based decorators like
classonlymethod, this hopefully should be in the next release

On Thu, May 28, 2020 at 8:34 PM Jon Janzen <notifications@github.com> wrote:

--
-Mark A. Mendoza

[2020-06-05 02:47] rvantonder opened #268 "Docs are out of date (querying pyre)"
👋   frens

Docs mention `dump_dependencies` at  https://pyre-check.org/docs/querying-pyre.html. The [only reference](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/facebook/pyre-check%24+dump_dependencies&patternType=literal) to `dump_dependencies` are in the docs, so this doesn't look accurate.

It looks like `dump_call_graph()` is a similar query that is valid. It would be nice to add th

[2020-06-05 03:03] jesboat opened #269 "surprisingly slow (hung?) with multiple source_directories?"
On my full project (some source files, venv with pip, setuptools, wheel, and some other stuff), a full `pyre check` takes ~30 seconds. Adding a second source_directories slows things down shockingly; I gave up waiting after 40 minutes.

A sufficient set of conditions seems to be (a) a search_path with some stuff in it and (b) multiple source_directories. In particular, I have a repro where the vir

[2020-06-15 21:31] dirn opened #271 "PyPI Release (v0.0.47)"
A tag was created for [v0.0.47] around June 4, 2020. Until this version has been
published to [PyPI], however, it can't easily be used by the projects that use
pyre for static analysis. Is there an ETA for when it might be made available?

[v0.0.47]: https://github.com/facebook/pyre-check/releases/tag/v0.0.47
[pypi]: https://pypi.org/p/pyre-check

[2020-06-16 06:09] shannonzhu commented on #268
Hey Rijnard! It's nice to hear from you, thanks for opening the issue. :)
Linked an update - we're also expecting a more thorough revision and modernization of the documentation as a whole in the near future, so hopefully that'll help more generally where things are getting out of date.

[2020-06-17 00:18] rvantonder commented on #268
Hey @shannonzhu. Thanks! Sure thing, I was just helping out some people who wanted to get started and noticed these.

[2020-06-22 05:47] nasyxx opened #275 "Exclude should not exclude search_path"
I use [pdm](https://github.com/frostming/pdm) to manage my local packages.  It supports PEP582.  Thus, my directory tree is like this:

[code]

When we use pyre, we want to ignore the `__pypackages__` folder.

PEP582 uses `__pypackages__` as the local packages directory.  When we use pyre, we should add a path like `__pypackages__/3.8/lib` to `search_path`.

So one example config file here:

[code

[2020-06-27 15:48] mathbunnyru commented on #271
It would be nice to have fresh release available for an easy install through pip.

[2020-06-29 22:13] dirn opened #277 "`super` has no attribute"
I'm working on adding a subclass of Django's [`DetailView`][detailview] to an
application. Because there isn't already a stub for it, I started working on
one as `stubs/django/views/generic/detail.pyi`.

[code]

My view provides its own implementation of [`get_context_data`][getcontextdata].
In it, I call the parent method.

[code]

When I do this, however, I get an error when I run `pyre`.

[code

[2020-07-06 17:55] pradeep90 commented on #277
@dirn Thanks for the report. `super` should work as is, so this is unexpected.

I wasn't able to repro the error with the following:

[code]

Could you try minimizing your repro to see where the error might be?

Another option is to use `reveal_type` to see what Pyre thinks is the type of the variable (such as `reveal_type(super())`).

[2020-07-13 13:42] dirn commented on #277
@pradeep90 I haven't had much computer time lately, but this is on my radar.

[2020-07-14 22:49] nickroeker opened #278 "Breakdown of pyre-check with `pip install -e .` and --preserve-pythonpath"
I'm running into a scenario while adapting my project to use `pyre` instead of `mypy` where pyre-check loses all awareness of type information for what _seems_ like a standard workflow.

### Context

I do local development of pip-installable packages with `pip install -e .` _within a virtual environment_ I have sourced via the usual `source venv/bin/activate`. I believe this is a common pattern, b

[2020-07-15 12:29] tekumara opened #279 "Undefined import - boto3"
test.py:
[code]

Running pyre check, it's not finding the boto modules:
[code]

Although they are located in the site-packages dir of the current virtualenv.

How do you configure pyre to find them?

[2020-07-15 13:57] gbleaney commented on #279
Hey @tekumara, can you try adding your venv to your [`search_path` in your `.pyre_configuration` file](https://pyre-check.org/docs/configuration.html#persistent-configuration)?

[2020-07-16 00:01] tekumara commented on #279
Thanks @gbleaney! 🙇‍♂️ I added my virtualenv's site-packages directory to search_path to fix this!

[2020-07-16 00:01] #279 closed

[2020-07-20 18:30] theodoretliu opened #281 "Cannot build from source"
I'm following the instructions on https://pyre-check.org/docs/installation.html, but am getting stuck immediately during the "make" command with the following error:
[code]
For what it's worth, I'll attach the generated `dune` file as well:
[code]

[2020-07-20 18:37] mrkmndz commented on #281
Can you try running `setup.sh --local --build-type external` and see if the dune file is different?

[2020-07-20 18:53] theodoretliu commented on #281
That gets the build to work, yes! Still having one or two failures on `make test` and `make python_tests`. But `make` is succeeding.

[2020-07-20 21:40] mrkmndz commented on #281
The setup problem was due to a bug fixed here: https://github.com/facebook/pyre-check/commit/115b295a8de86716143e4ecd5782693684f6d1e9 .

Thanks for bringing it to our attention.  Could you file a new issue if you are still running into problems with the tests?

[2020-07-20 21:40] #281 closed

[2020-07-21 19:51] theodoretliu opened #282 "`make test` and `make python_tests` failing"
Getting the following error on a few tests during `make test`
[code]

and the following errors from `make python_tests`
[code]

Let me know if it'd be helpful to pare down some of the errors.

[2020-07-22 15:49] fylux commented on #282
For the moment I can only add that the second line:

`abort: no repository found in '/Users/theodoreliu/pyre-check' (.hg not found)!`

Even if it says abort the code will continue all right, seems to be related with the bash script when doing:

`HG_VERSION="$(hg log -r . -T '{node}')"; then`

[2020-07-22 19:22] theodoretliu commented on #282
Yeah, that came up previously and didn't cause problems. I'm more wondering about the errors regarding "too many open files" and SQLite

[2020-07-22 19:27] mrkmndz commented on #282
Does that happen if you re-run the test?
-Mark A. Mendoza

On Wed, Jul 22, 2020 at 12:22 PM Theodore Liu <notifications@github.com>
wrote:

[2020-07-22 19:37] theodoretliu commented on #282
Okay, so if I modify the `Makefile` manually and set `-j 1` in the `dune runtest` command, it actually succeeds. So apparently 8 jobs is just too many for my computer to handle. Is there something equivalent for the python tests?

[2020-07-22 19:45] mrkmndz commented on #282
I can actually reproduce the python test failure, so that's probably
something on our end.
-Mark A. Mendoza

On Wed, Jul 22, 2020 at 12:37 PM Theodore Liu <notifications@github.com>
wrote:

[2020-07-30 14:10] dirn commented on #271
I see that v0.0.48 was released a couple of days ago. Thanks.

[2020-07-30 14:10] #271 closed

[2020-08-01 21:04] jesboat opened #284 "spurious "Impossible assertion [25]" with some dynamic isinstance checks"
When the right side of an isinstance is a variable, Pyre sometimes (I haven't tried to pin down the exact behavior) raises a spurious "Impossible assertion [25]" error. For example, on this file:

[code]

Pyre raises

[code]

even though both cases are possible and, in fact, happen.

pyre 0.0.46 as macOS, as installed from pyre_check-0.0.46-py3-none-macosx_10_11_x86_64.whl. (Sorry for the report o

[2020-08-03 21:27] dirn opened #286 "Pyre can't find names using __getattr__"
When trying to import from a module that uses `__getattr__` in its stub file, `pyre` can't find the name. For example

    from django.contrib.auth.decorators import login_required

results in

    Undefined import [21]: Could not find a name `login_required` defined in module `django.contrib.auth.decorators`.

This import worked prior to 5f1d94d7d29207974145427086bd7bb97f379155. I'm running into

[2020-08-03 21:30] dirn opened #287 "Pyre can't find redirected imports"
When trying to import something is actually a redirected import, `pyre` can't find the name. For example

    from django.urls import reverse

results in

    Undefined import [21]: Could not find a name `reverse` defined in module `django.urls`.

whereas

    from django.urls.base import reverse

passes.

I'm running into this in PyGotham/awards#78, but I'm able to reproduce this in a file that j

[2020-08-03 23:28] arthaud commented on #287
Hi @dirn, thanks for the report.

This is due to a bug in our stubs. Since PEP 484: `Modules and variables imported into the stub are not considered exported from the stub unless the import uses the import ... as ... form or the equivalent from ... import ... as ... form.`. Most of our django stubs use `from .. import ..` which means that they don't export ".." even though they should. I will fix

[2020-08-03 23:30] arthaud commented on #286
Hi @dirn, thanks for the report!

This is another bug in our stubs: we replaced placeholder stubs `# pyre-placeholder-stub` with `__getattr__() -> Any` where it should be `__getattr__(name: str) -> Any`. I will fix that soon.

[2020-08-04 16:59] arthaud commented on #286
This should be fixed in 0dd5c8f1622b4d7f49b196e26b018c6f7de2297d. Thanks for the report :)

[2020-08-04 16:59] #286 closed

[2020-08-05 01:00] arthaud commented on #287
Fixed in 676acecf5d9308241796cd8b2eacb71a94d46b66

[2020-08-05 01:00] #287 closed

[2020-08-05 16:12] aspin opened #295 "lambda arguments don't seem to be checked"
Not sure if there's a limitation here since it's not possible to annotate lambda arguments, but the following code sample doesn't raise any errors:

[code]

Expected behavior: some error is raised since `.real` doesn't exist on `str`s

[2020-08-05 17:24] arthaud commented on #295
Hi @aspin, thanks for reaching out.

This is a known limitation of Pyre. Since lambda arguments cannot be annotated, they are implicitly typed as `Any`.

I have actually done some work on lambda support, in order to properly infer the return type using the parameter type inferred from the context (here, the second argument to `map`). We could go further and properly type check the lambda body usin

[2020-08-05 17:27] aspin commented on #295
Gotcha, figured it'd be something like that.

[2020-08-07 21:30] theodoretliu opened #299 "Developing with local `pyre_extensions`"
I've added the following to `__init__.py` in `pyre_extensions`
[code]
and
[code]
to `analysis/test/integration/annotationTest.ml`. However, I'm still getting errors when running the tests:
[code]
which seems to indicate that the updates to `pyre_extensions` are not being detected or the wrong one is being referenced. How to properly configure this for local development?

[2020-08-07 21:58] arthaud commented on #299
Hi @theodoretliu,

The integration tests do not use `./pyre_extensions/__init__.py` directly. They use a small portion of typeshed and pyre_extensions, defined directly in `test/test.ml`:
https://github.com/facebook/pyre-check/blob/master/test/test.ml#L1365

[2020-08-08 10:51] belthaZornv opened #302 "Github Actions and Import Errors"
I'm currently setting up `pyre` to run in a github action - I've been facing issues with:

`Could not find a module corresponding to import `sentry_sdk`.`

Among other errors - I've edited the `.pyre_configuration` to try and align with github actions (not really knowing where the env is set up):

[code]

My folder structure is basically the root folder contains the `manage.py` and some configurat

[2020-08-09 16:42] caleb15 commented on #202
@MaggieMoss Hi Maggie, any update on this?

[2020-08-09 17:24] caleb15 opened #304 "suggestion: provide example for exclude configuration"
I'm so used to using file globs for excluding that I tried that and was wondering why it wasn't working.

Re-reading the documentation I can see that it does say regexp, I should have paid more attention.

I would suggest making a explicit note of it (or better yet, providing an example of using exclude) so other people don't make the same assumption.

[2020-08-09 17:25] caleb15 commented on #304
For example I used `"exclude": [".*test.*"]` to exclude any test files / folders

[2020-08-09 17:35] caleb15 opened #305 "Could not find a module corresponding to import"
With the following config:
[code]

And a directory structure like so:
[code]

I got a bunch of errors like:
`ff/urls.py:83:0 Undefined import [21]: Could not find a module corresponding to import \`ff.mods.storybook\`.`

[2020-08-09 17:35] caleb15 commented on #305
Changing `source_directories` from "ff" to "." fixed it.
[code]

[2020-08-09 17:35] #305 closed

[2020-08-09 17:45] caleb15 commented on #304
Actually even better example would be `".*\/node_modules\/.*"` because you would always want to exclude that.

[2020-08-09 19:25] caleb15 opened #306 "Pysa not expanding `~` for taint_models_path"
[code]

configuration:
[code]

OS: Ubuntu 18
python version: 3.7.7
pyre version: latest (0.0.52), I just installed today
[code]

The source code I'm running against is not open-source so I can't post it here unfortunately. It's a large monolith django project.

[2020-08-09 21:12] gbleaney commented on #306
@caleb15, could you try running with `--verbose` and `--noninteractive` to see if we can get a little more to debug with?

Also, if you've got the appetite for it, could you try running on smaller subsets of your repo to try and see if you can spot the problematic file or lines? Getting a minimized repro would really help us get this fixed for you.

[2020-08-09 21:18] gbleaney commented on #302
@belthaZornv could you verify that you see a `sentry_sdk` folder in your `/opt/hostedtoolcache/Python/3.7.8/x64/lib/python3.7/site-packages`? For some reason, Pyre can't find `sentry_sdk` in any of the folders in your `search_path`, and the simplest answer might just be that it's installed elsewhere.

[2020-08-10 09:19] belthaZornv commented on #302
It's running in github actions - I'll try to run a `find` command to make sure where sentry_sdk is placed. Thanks for now @gbleaney , appreciate it.

[2020-08-10 12:37] belthaZornv commented on #302
I've managed to find where the `site-packages` are stored / cached on github actions:

[code]

Although errors are still showing, and I'm 100% certain the packages are there. - am I missing something?

[2020-08-10 13:22] ri0t commented on #305
This should probably be mentioned in the documentation, probably right at the beginning...

[2020-08-10 16:05] caleb15 commented on #306
Neither verbose or noninteractive are recognized arguments.

[code]

[2020-08-10 16:07] caleb15 commented on #306
Note that analyze worked on my machine when I ran it against the sample `static_analysis_example` as described in the docs

[2020-08-10 17:55] arthaud commented on #304
Hi @caleb15, thanks for reaching out.

This is something we are aware of and currently working on. Some options use a glob syntax while other use regexes. I believe we are trying to make this uniform and use the glob syntax for options.

[2020-08-10 17:59] arthaud commented on #299
Closing this since it looks like this is solved. Please reopen if necessary.

[2020-08-10 17:59] #299 closed

[2020-08-10 21:28] gbleaney commented on #302
@belthaZornv is the error still the same message?

Can you try including the import line that is triggering this error message?

Also, can you include the output of `ls -l /opt/hostedtoolcache/Python/3.7.8/x64/lib/python3.7/site-packages/` and `/opt/hostedtoolcache/Python/3.7.8/x64/lib/python3.7/site-packages/sentry_sdk`?

[2020-08-10 21:31] gbleaney commented on #306
Apologies @caleb15 , I probably should have provided an example. `--verbose` and `--noninteractive` are arguments to the the main `pyre` command, not the `analyze` subcommand. So invocation should look like this:
[code]

[2020-08-10 21:51] caleb15 commented on #306
`--verbose` doesn't work, same issue. noninteractive works though:

[code]

So the problem is because pyre doesn't work if you have a ~ in your `taint_models_path`

[2020-08-10 22:05] gbleaney commented on #306
Yup, looks like that was the problem! Thanks for sticking through the debugging and sorry for the rough experience. We're going to look at surfacing the errors more clearly and supporting the home dir syntax, so that this is less painful for the next person.

[2020-08-10 22:07] caleb15 commented on #306
Thanks for the help! :)

[2020-08-10 23:16] sinancepel commented on #306
With regards to the `~` not getting expanded; we do this elsewhere, so the user's home directory not getting expanded is simply a bug with that field. I'll reopen and retitle the question if that's OK.

[2020-08-10 23:38] sinancepel commented on #306
Update: Looks like the bug's fixed on master. I'll close this issue once we have an OSS release. Hopefully will fix the "Client exited with error code 1" UX as well before we land that.

[2020-08-11 17:05] darakian opened #308 "Exclude directive being ignored"
Hey, I'm just trying to get started with pyre and it seems like the exclude directive isn't working. I've followed the getting started guide and noticed that the venv is being checked.
[code]

I've tried moving the venv to `.venv` as it is in the guide and still it gets checked.
[code]
and I've tried adding it to the exclude path
[code]

Still I see the venv being checked. Am I missing something b

[2020-08-11 19:45] sinancepel commented on #308
The regex syntax is a bit different from what you might expect, could you instead try the following for the exclude?

`.*/.venv/.*`?

[2020-08-11 20:36] darakian commented on #308
That seems to have fix it. Thanks!

[2020-08-11 20:45] #308 closed

[2020-08-12 01:02] shannonzhu commented on #214
Closing as migration has been completed

[2020-08-12 01:02] #214 closed

[2020-08-12 01:08] shannonzhu commented on #284
We've removed these impossible assertion errors for this reason in the latest release

[2020-08-12 01:08] #284 closed

[2020-08-12 01:09] #268 closed

[2020-08-12 14:38] sathish798 commented on #214
Termux coding I need to learn

[2020-08-13 07:08] belthaZornv commented on #302
@gbleaney yes, same message dude.

The output is:

[code]

**sentry_sdk**:

[code]

[2020-08-13 23:42] MaggieMoss commented on #183
Closing this issue. @samuela let me know if you're still experiencing this issue on recent versions of Pyre.

[2020-08-13 23:42] #183 closed

[2020-08-13 23:43] #69 closed

[2020-08-16 20:26] theodoretliu opened #309 "Running individual tests"
The `CONTRIBUTING.md` document states that single tests can be run with `dune exec filename.exe`. I tried running `dune exec analysis/test/integration/annotationTest.exe` but I'm getting 19 failures and errors. Is there an updated way to run single files?

[2020-08-16 20:30] theodoretliu commented on #299
Thank you so much!

[2020-08-17 07:03] belthaZornv commented on #302
I'm out of solutions, let me know if you have anything from your end @gbleaney - thanks for your time dude.

[2020-08-19 21:54] gbleaney commented on #302
Sorry, @belthaZornv I've been off work the last while and not checking anything from GitHub. Your config looks reasonable to me, so I'm not sure what's going wrong. I've asked @pradeep90 to take a look, since I'm out of ideas.

[2020-08-24 06:44] belthaZornv commented on #302
Thank you @gbleaney!

[2020-08-24 21:42] pradeep90 commented on #302
@shannonzhu Could you take a look at this? Is the search path not configured correctly?

[2020-08-24 21:56] shannonzhu commented on #302
The configuration and search path field looks correct to me. Could you run `pyre --noninteractive check` and paste the full output here? I'm curious to see wha search path the pyre client is picking up and passing into the backend, in case that contains any additional clues.

Also, do you get a similar error if you try to import from a different module in this search path, like `typed_ast`? Just i

[2020-08-31 09:22] cihati opened #311 "`Undefined attribute [16]` false positives for Django"
I'm trying to integrate Pyre to my Django project but I'm getting many false-positive errors:

1) `Undefined attribute [16]: `Workspace` has no attribute `objects`.` for the line `workspace = Workspace.objects.get(pk=workspace_id)`

2)
[code]

for
[code]

3) `Undefined attribute [16]: `models.fields.related.ForeignKey` has no attribute `id``

[code]

[2020-09-01 00:51] gbleaney commented on #311
A bit of background: Django is not well typed, nor does it have type stubs in Typeshed, so we ship Django models with Pyre. Because Django is massive, and we don't use every feature of it, the stubs that we ship might not be complete and might have bugs. You can see the set of stubs we have available [here](https://github.com/facebook/pyre-check/blob/master/stubs/django).

For 1) and 2), you can s

[2020-09-01 08:31] cihati commented on #311
Thanks for the detailed and quick reply @gbleaney

Is it possible to get pyre to utilize https://github.com/typeddjango/django-stubs ?

[code]

This is the workspace model (deleted comments/irrelevant methods). It is in a place discoverable by pyre. As a matter of fact, here are some errors about it from pyre:

[code]

Here are some errors and relevant code pieces:

[code]

`pk` seems to exist for

[2020-09-01 14:12] gbleaney commented on #311
@cihati Yup! If you prefer to use those other Django stubs, you can [add them to your `search_path` in your `.pyre_configuration` file.](https://pyre-check.org/docs/configuration.html). If you want to keep using our non-django stubs, you can do that by leaving them in your search path and making sure they appear _after_ the path to the typeddjango stubs.

Your definition of `Workspace` looks like

[2020-09-08 08:48] belthaZornv commented on #302
Good morning, to be entirely honest, I've ended up removing it - but you can reproduce with a simple repository on github, with a simple python app (with packages) and github actions that installs requirements.txt, and run pyre on it.

[2020-09-11 10:45] kajetankorzyckiidentt opened #313 "Unsupported taint sink `ViaTypeOf`"
I'm following the pysa-tutorial and when I try to run `pyre analyze` in the exercise3 I get the following error:
[code]
When I tried the same on for example v0.0.52 everything works just fine.

[2020-09-14 13:38] gbleaney commented on #313
@kajetankorzyckiidentt version 0.0.53 has been released, which should support those annotations. Does everything work for you when you upgrade?

[2020-09-15 08:05] benzid-wael opened #315 "pyre init fails for new project"
I am trying to setup pyre and I'm not able to initialize it
When I run `pyre init`, I got the following error:

### Steps
1. pip install pyre-check watchman
1. pyre init

### Environment
- **OS**: MacOS Mojave
- **Python**: 3.7.8

[2020-09-15 17:59] MaggieMoss commented on #315
@benzid-wael thanks for reporting - we are working on a fix and I will do another open source release once it merges.

[2020-09-15 20:35] MaggieMoss commented on #309
Could you try:

[code]

And let me know if that still doesn't work for you?

[2020-09-17 14:52] cooperlees commented on #315
It seems a Path() object also needs to be changed to a str. Is that bug known / fixed / planned to be fixed?

[code]

[2020-09-17 14:55] cooperlees commented on #315
The pyre config file are also not valid:
[code]

- Also, I spin up a new venv to use pyre and this changes every time, I don't feel there is any benefit to me having a config file ...

watchman (just empty):
[code]

[2020-09-17 15:11] cooperlees opened #316 "pyre venv (virtualenv) support"
Is using pyre from a Python virtualenv *(venv)* supported?

pyre recommends setting a configuration file. This file is very rigid and hard codes paths within a venv and I have to add them to ignore. I'd like to be able to use `pyre` from a venv of any path and not have to update the config file to do so.

If I leave these hard set values out of the config I get:
[code]

## Repro
From the root of t

[2020-09-18 18:37] TomMD commented on #315
Same as @benashman  and @cooperlees, I'm experiencing that a recent release broke pyre entirely.

**Situation Details**

It used to be possible to call `git clone $some_repo path ; cd path ; pyre --noninteractive --source-directory . --output json` but now a pyre configuration is required.  Perhaps that behavior was intentionally changed, but `printf "\n" | pyre init` is broken in the manner menti

[2020-09-18 20:20] TylerYep commented on #315
Not sure if this is related, but I get the following error trying to run `pyre` with pyenv:

`Invalid configuration:  `/Users/tyleryep/.pyenv/versions/3.8.5/lib/stdlib` is not a valid directory.`

[2020-09-18 20:22] cooperlees commented on #315
This is more related to #316 and venv support moving forward.

[2020-09-18 21:15] pradeep90 opened #317 "Allow running Pyre without a configuration"
In v0.52 and before, when there was no configuration file, Pyre used to build a one-off configuration using the CLI arguments.

We seem to have regressed that with https://github.com/facebook/pyre-check/commit/213f5805abf729990efa652aa7c5fc9c8798d0d4.

Following up from TomMD's comment in https://github.com/facebook/pyre-check/issues/315#issuecomment-695024261:

#316 may be also be related.

[2020-09-18 21:16] pradeep90 commented on #315
@TomMD @TylerYep @cooperlees  I've created #317 since that's a separate issue from the original `pyre init` issue.

[2020-09-18 21:19] cooperlees commented on #317
I feel this is part of helping make #316 (venv support) friendlier / usable again too.

[2020-09-18 21:21] pradeep90 commented on #317
@cooperlees Just to make sure this is not the only blocker for your venv scenario, can you try with 0.0.52?

[2020-09-18 22:22] grievejia commented on #316
I think running `pyre` from one activated venv is already supported, provided that the venv directory is not located under the source directory being checked, no?

Running `pyre` from multiple venvs without changing the configuration file is indeed not possible at the moment. Would something like #317 where configurations options can be overridden on the cli address this for you? I can start looki

[2020-09-18 23:22] cooperlees commented on #316
This is what I expect to be the major blocker yes.

I also think it needs to resolve symlinks based on ` ƛ Invalid configuration:  `/private/tmp/tp/lib/stdlib` is not a valid directory.`

[2020-09-24 02:31] luizribeiro commented on #316
I think it would be great to have #317 for this. I've been running into issues after 0.0.52 like others on this thread on my projects that rely on pyre.

Also, because on my local machine I tend to have my venvs setup with `poetry` under the local directory (`.venv`), I often need to mess around with my `.pyre_configuration` on Travis - since Travis has a virtual environment of its own. Ideally `p

[2020-09-24 09:42] janmasarik commented on #313
Sorry to jump in, but both workaround and version 0.0.53 work for me. :-)

However, after the update I started hitting #316 which I _hotfixed_ by explicitly setting path to typeshed in `.pyre_configuration`.

[2020-09-24 14:36] gbleaney commented on #313
Awesome, I'm happy to see that the solution worked! And thanks for sharing the workaround for #316; that will be a help to those who are hitting this issue before we can get another release out.

[2020-09-24 14:36] #313 closed

[2020-09-25 14:53] gbleaney commented on #316
@cooperlees we just fixed a bug with the resolution of the typeshed folder in v0.0.56. Would you mind retesting with that release? FWIW, I've had pyre running out of a virtual environment for the pysa tutorial and it's worked fine (before briefly becoming broken with the most recent release.

[2020-09-25 20:07] cooperlees commented on #316
Apart from MacOS timing out (seems common on GitHub actions across my projects, it all looks fixed to me. I still had to add a config tho, but just only put in the source directories. I would love to not have to do that.

[2020-09-25 20:10] cooperlees commented on #316
Sorry about that, will leave it to you for deciding if this is closable.

[2020-09-29 15:47] Ragsboss commented on #267
I've the same need. Is there any workaround for this? For now I'm simply suppressing the warning.

[2020-10-06 01:15] lucasvazq commented on #197
If someone is having trouble with some type, can use getattr for now.
E.g.
[code]

[2020-10-06 04:21] #206 closed

[2020-10-11 18:45] jiridanek opened #319 "pyre-upgrade fails with `ModuleNotFoundError: No module named 'tools'`"
I've installed pyre-check==0.0.56 and I've encountered the following error every time I try to run `pyre-upgrade`.

[code]

Is this something that is easily reproducible, or is there something weird in my setup that is breaking pyre-upgrade? I had to use an old version of pyre-check to be able to run pyre-upgrade. I used 0.0.46 which ran fine.

[code]

[2020-10-13 11:41] xmo-odoo opened #325 "Pyre doesn't understand that metaclass instances are classes"
[code]
but Pyre rejects this with

[2020-10-13 12:00] xmo-odoo commented on #316
@grievejia

This is a bit unclear, does that mean pyre automatically picks up the active venv's site-package and adds it to its search-path, or that the search path has to be updated to explicitly add the venv's path?

[2020-10-13 14:00] xmo-odoo commented on #304
Examples of non-trivial matches and / or a subcommand to dump the "run configuration" or something would also be useful, even knowing that these paths are regex and being told that it's matching against full paths getting these to work is not trivial. It would also be useful to know what dialect is involved to know whether features like backreferences are usable.

Maybe `pyre init` could prompt fo

[2020-10-13 17:23] grievejia commented on #316
Right now you'll have to explicitly add packages to the configuration but you don't need the full path of the site package -- just the name of the package is sufficient since pyre can use `site.getsitepackages()` to determine the path:
[code]
I don't think we support adding all site packages to search path automatically at the moment. It shouldn't be too hard to add now though. One consideration i

[2020-10-14 04:17] gruszczy opened #326 "pyre crashes in virtualenv"
This used to work with pyre 0.0.52, but started failing on 0.0.56. When I run pyre inside virtualenv it fails with the following:

 ƛ Traceback (most recent call last):
  File "/Users/gru/.venvs/towngen/lib/python3.8/site-packages/pyre_check/client/pyre.py", line 102, in run_pyre
    configuration = configuration_module.Configuration.from_arguments(
  File "/Users/gru/.venvs/towngen/lib/python3.8/

[2020-10-14 06:23] xmo-odoo commented on #326
@gruszczy pypa/virtualenv#737 seems relevant, might be worth commenting over there?

It pointed at mhammond/pywin32#1439 but you don't seem to be using windows (per your path, unless this is wsl and pywin works?)

[2020-10-14 06:37] xmo-odoo opened #327 "Is it possible to complement typeshed?"
Say typeshed is lacking some definitions, either because it's not been merged yet or because they're not really interested in merging that definition (e.g. something which is half-public half-internal).

Is there a way to provide complementary definitions for packages typeshed already has but is not complete for? Or is providing a typeshed fork a requirement?

[2020-10-14 15:49] gbleaney commented on #327
@xmo-odoo you can selectively override stubs in typeshed by adding them to your [`search_path` in `.pyre_configuration`](https://pyre-check.org/docs/configuration#the-global-configuration). For example, typeshed provides a [`dataclasses`](https://github.com/python/typeshed/blob/master/third_party/3/dataclasses.pyi) stub, which you could replace with your own by adding a `dataclasses.pyi` file to t

[2020-10-15 05:45] xmo-odoo commented on #327
@gbleaney So can either implement things typeshed doesn't provide or vendor specific files from typeshed and update them internally, without having to vendor all of typeshed. Seems suitable, thanks!

[2020-10-15 05:45] #327 closed

[2020-10-15 17:22] gruszczy commented on #326
Thanks @xmo-odoo I'm on mac. I can try using some of the workarounds if necessary.

[2020-10-16 16:53] grievejia commented on #325
This is impossible to support in general -- what you are trying to do here is to dynamically create a class and then subclass it, which is very hostile toward static type checking. For example, Pyre cannot figure out what attributes are there for `C1` and `C2` since the dict can be computed at runtime if you construct the type with `type` or metaclasses.

[2020-10-16 17:19] grievejia commented on #278
Thanks for this super high-quality bug report! Apologies for the big delay in response -- for some reason I missed the notification of this issue :(

Please avoid using the `--preserve-pythonpath` option. It was very broken and I believe it has been removed in recent releases.

If you want to make 3rd part modules visible to `pyre`, the current recommended way is to explicitly list the used packag

[2020-10-16 23:30] shannonzhu commented on #319
Thanks for reporting the issue! I've just released a new version where this is fixed; we will add some open source tests on the upgrade package to hopefully catch this problem in the future.

[2020-10-16 23:30] #319 closed

[2020-10-17 17:02] nickroeker commented on #278
Hey, I appreciate the eventual reply! It's nice to see there's been progress.

My bad on forgetting to state the version I was using at the time. It appears to have been `pyre-check 0.0.46` based on the venv I had still around.

The details of exactly why I used `--preserve-pythonpath` is lost in my memory at this point, but it was something regarding it being the only way to get `pyre-check` to a

[2020-10-17 22:44] nickroeker commented on #278
Unfortunately I'm at another roadblock with version 0.0.57. Additionally, it looks like there is no documentation on this `site-package` method for the search paths (though it appears to work well!).

I have a setup like `project_root/my_package` and `project_root/tests`, where the `my_package` folder has the package source and the `tests` folder has unit tests for that package. `my_package` is ac

[2020-10-19 00:03] grievejia commented on #278
I'm not too familiar with how `mypy` search path works but I can explain the `pyre` behavior here.

The issue is that `pyre` will treat all items in `source_directories` as the root of the module search path. For example, if your project is laid out like this:
[code]
If the `source_directories` is set to `a`, then `x.py` will be treated by `pyre` as module `x`, not module `a.x` because `a/` itself

[2020-10-19 05:51] xmo-odoo commented on #325
@grievejia I completely agree for the general case, but the code in question was literally this, the code was entirely static.

Now you might be wondering why the hell we'd be using such a construct *statically*, and the reason is P2/P3 compatibility (which we have not removed yet): per [PEP 3115](https://www.python.org/dev/peps/pep-3115/) Python 3 ignores `__metaclass__` class-level attributes, b

[2020-10-19 16:54] grievejia commented on #315
Closing this since it has been fixed since v0.0.56

[2020-10-19 16:54] #315 closed

[2020-10-19 16:54] grievejia commented on #317
Closing this since it has been fixed since v0.0.57

[2020-10-19 16:54] #317 closed

[2020-10-20 04:44] nickroeker opened #329 "Better support for decorators"
Pyre claims to try to match compatibility with `mypy`, which has a documented usage of decorators that Pyre can't seem to handle (tested in version 0.0.57).

See here: https://mypy.readthedocs.io/en/stable/cheat_sheet_py3.html

This code is expected to type-check correctly,
[code]

But Pyre has the following to state about this line,
[code]

This is true for more complicated and/or concrete cases

[2020-10-20 04:51] nickroeker commented on #329
I'm not expecting this to be an easy or simple fix. If more examples of decorator typing are critically needed, I can work on providing a few (though my use-cases aren't very much more complicated than the above).

Please note that decorators _without_ args work just fine, which could be type-hinted like so (also from the above `mypy` link):
[code]

From my perspective, this works while the other

[2020-10-20 05:10] nickroeker commented on #278
It does seem that if I add a `src/` directory in front of my `e2e/` and `/tests` folders and change the search_path to `./src`, things are now (mostly) working as expected. This avoids scanning things I don't want it to, while giving the expected results.

A few observations/feedback if it's valuable (either for documentation or future development):

1. Some projects use a layout with a `./src/` p

[2020-10-20 17:34] grievejia commented on #278
I think that's a fair assessment of the situation. For the flat structures one workaround I could think of is to have two separate `.pyre_configuration` files for `./package` and `./tests` where the test one adds the package one to the search path. But you are right that this is definitely not good from ergonomics perspective and we'll likely need to extend the source path specification to support

[2020-10-21 23:42] grievejia commented on #329
I believe the behavior is intentional. Relevant discussions can be found in [this mailing thread](https://mail.python.org/archives/list/typing-sig@python.org/thread/DDR2B3USYCQGVXM3ZSK2FASH5YFQGPUV/#DTZG7Y7CO72BMWMGQEFR5PNWFDWQBRO2).

The core issue here is that there is no facilities in standard Python to specify the scope of type variables, which lead to ambiguities on the bounds of generic type

[2020-10-29 07:45] bedirhan opened #331 "Missing XSS SINK_NAME for django.http.response.HttpResponse.__init__"
https://github.com/facebook/pyre-check/blob/037d7c022bbc54041322843c08d4dad9311bf6fa/stubs/taint/core_privacy_security/django_sources_sinks.pysa#L53

I'm new to pysa (excellent tool), but I couldn't nail a basic XSS below as is;

[code]

So, I appended the XSS SINK_NAME and it works.

[2020-10-29 15:03] gbleaney commented on #331
Hey @bedirhan, I'm glad you're liking the tool and thanks for the feedback! We ended up making the choice to leave that sink out, because it created a ton of noise (turns out we put a lot of user controlled content into the pages we render) and didn't really help catch bugs in the way we render pages internally. That being said, I think that this sink adds value for the open source community. Woul

[2020-10-29 15:33] bedirhan commented on #331
I see... You could probably have a sanitizer, but still, there must also be a performance cost. I should really leave it to you guys. thanks for the fast response.

[2020-10-29 15:33] #331 closed

[2020-10-29 15:38] gbleaney commented on #331
A sanitizer doesn't quite work, because we do still want to detect data flowing into the `content` argument as a `ReturnedToUser` sink. Our approach would likely be to filter after the fact when browsing XSS issues, and just removed ones that reach `content`.

[2020-10-29 15:46] bedirhan commented on #331
hmmm, I just realized that sanitizers are universal in pysa...

[2020-10-29 15:57] gbleaney commented on #331
Yup, unfortunately. We do have some enhancements that are coming soon though that will (mostly) fix that.

[2020-11-09 18:11] #295 closed

[2020-11-09 23:29] TomMD commented on #317
And 0.0.57 works well for me - thank you all.

[2020-11-18 14:22] AlberTgarY opened #339 "Beginner`s Questions"
Hello, I'm a year 3 computer science student,
I recently got research that needs some python code analysis, so my tutor told me to use Pysa.

Given a slack bot, which calls the **channel.history** API, which will return the chat history list.
I`m now looking for some potential malicious data use.
Assume I use Redis and then store the chat history to some third-party database, this could be dangero

[2020-11-18 15:23] gbleaney commented on #339
Before we start, let me note that Pysa uses [typeshed](https://github.com/python/typeshed) to get type information whenever available. So all my links/discussion will be about what is in the [`redis` folder in typeshed](https://github.com/python/typeshed/blob/6061ca404e6d4dc072e7f7f84ec1ca7f1456b40a/third_party/2and3/redis/), rather than the `redis` library directly.

If we look into [the init fil

[2020-11-18 15:28] AlberTgarY commented on #339
wow, legit saved my life, thank you, I will be coming back.
Btw, the youtube tutorial is nice :D

[2020-11-19 16:14] AlberTgarY commented on #339
Thank you for answering  my previous questions, now it can recognize redis.from_url,
But as it shown previously in my .pysa diagram(1st diagram), I set the **value** parameter of **redis.client.Redis.set** as the taint sink.
since redis,from_url(from 3rd diagram) will return a Redis object, and it should be able to detect an issue if I put taintSource **history** into the method **db.set**(Source

[2020-11-19 16:28] AlberTgarY commented on #339
Also is there a tutorial for how to create my own taint model?
The api_call method is for SlackClient, which is the bot client for slack app.
![2020-11-20 00-24-58 的屏幕截图](https://user-images.githubusercontent.com/43678364/99693935-daf03a80-2ac6-11eb-8d3a-7a70d8eb5683.png)
api_call is here
![2020-11-20 00-25-25 的屏幕截图](https://user-images.githubusercontent.com/43678364/99693996-e80d2980-2ac6-11eb-81

[2020-11-19 16:51] gbleaney commented on #339
I'm having trouble following that, but a general debugging strategy you can use is inserting `reveal_type` all along the flow of data you expect to be tainted. That will show backwards and forwards taint, and hopefully point you to where taint is lost. Details:
https://pyre-check.org/docs/pysa-tips#debugging-tools

Exercise 2 in the tutorial walks you through creating taint models:
https://github.

[2020-11-23 03:17] abekang opened #344 "Getting weird error from sexp.ml when running pyre analyze"
I am scanning a pretty big project.

Getting the following:

ƛ Raised at file "string.ml", line 115, characters 19-34
ƛ Called from file "src/sexp.ml", line 113, characters 13-47
ƛ Client exited with error code 1

Looked everywhere for the sexp.ml and could not find it.

Anyone have a clue what is going on.  Another person is having a similar issue when creating models for Tensorflow.

[2020-11-29 15:05] ftruter opened #345 "Fails to detect type errors"
No error or warnings are generated on this code. Expected "incompatible types" warning at least on the line with exclamations.

[code]

Some more info
[code]

[2020-11-30 09:43] pradeep90 commented on #345
Pyre ignores functions that don't have an explicit return type annotation ([docs](https://pyre-check.org/docs/types-in-python#gradual-typing)). Making it `def test() -> None:` will show the error message you were looking for.

[2020-11-30 09:43] #345 closed

[2020-12-04 07:19] AlberTgarY commented on #339
Hi again im back ;)
Thank you for all the documentation and links, they are very useful.
I tried to do more works but unfortunately, get stuck again.
Now the pseudocode looks like this:
![2020-12-04 15-03-53 的屏幕截图](https://user-images.githubusercontent.com/43678364/101132506-13088900-3642-11eb-9a93-3bd7d04b2dd5.png)
.pyre_configuration:
![2020-12-04 15-06-32 的屏幕截图](https://user-images.githubuserco

[2020-12-04 15:42] gbleaney commented on #339
@AlberTgarY it looks like your `.pyre_configuration` file still isn't pointing to your virtual environment. Is the `./slackclient` path a local clone of `slackclient`, or what?

[2020-12-05 04:57] AlberTgarY commented on #339
Sorry for replying late
![2020-12-05 12-55-21 的屏幕截图](https://user-images.githubusercontent.com/43678364/101234333-49eda600-36f9-11eb-963f-ebb9cfa40edb.png)
Yeah I copied paste the slackclient to the local path.

[2020-12-07 18:05] baptiste0928 opened #349 "Pyre is unable to find any module"
Hello ! :wave:

I installed Pyre on one of my projects in order to test it, but **it is unable to find the modules I import**, even native Python modules. Here is an example of what the `pyre` command returns:
[code]

Pyre seems correctly installed (in a venv) and I added this venv to the `search_path`. Here is my configuration file (I replaced the project path):

[code]
I use Python 3.8.6 under M

[2020-12-08 05:35] anniecherk opened #350 "pyre analyze runtime exception: Analysis__ClassHierarchy.Untracked(_)"
I'm running into a runtime error when I run `pyre analyze` over a fairly large codebase.

I've built `pyre` from source to help debug the problem, and aliased it from `pyre-check/source/_build/default/main.exe`. This is the version:

[code]

When I run `pyre analyze -debug -verbose`, it crashes with this backtrace:
[code]

The top line of the backtrace references the `raise` in the function [raise

[2020-12-08 18:53] gbleaney commented on #339
@AlberTgarY alright, a few more requests. Can you:

1. Provide the exact command you're running, including the directory you're running it in
1. Modify the command you're running to include the `--noninteractive` flag set (ie. something like `pyre --noninteractive analyze`)
1. Add a `reveal_type(<VARIABLE NAME>)` and `reaveal_taint(<VARIABLE NAME>)` for every variable in your code
1. Provide the f

[2020-12-09 06:20] AlberTgarY commented on #339
**Command:**
  :/home/albert/桌面/Work_Space/pyre-check/pysa_tutorial/exercise1# pyre analyze
  (桌面 just means Desktop)

Add a reveal_type(<VARIABLE NAME>) and reaveal_taint(<VARIABLE NAME>) for every variable in your code

**Code:**
[code]
**Run:**
  :/home/albert/桌面/Work_Space/pyre-check/pysa_tutorial/exercise1# pyre --noninteractive analyze

**Output:**

2020-12-09 14:04:47,118 DEBUG Running `/us

[2020-12-09 06:22] AlberTgarY commented on #339
package slackclient I was using:
[slackclient.zip](https://github.com/facebook/pyre-check/files/5663874/slackclient.zip)

[2020-12-09 16:46] gbleaney commented on #339
Great, thanks for providing all that information. A few things we can glean:

---

From 3) we can see:
[code]
Because Pysa doesn't know the type of `db`, it will never know that `db.set("a", history)` corresponds to this model:
[code]
Thus, we will never properly track the flow to that sink.

The reason for this appears to be that `redis.from_url` (which is really an alias for `redis.utils.from_ur

[2020-12-09 21:44] gbleaney commented on #311
Closing this out as old. Happy to keep helping debug if you have any more questions.

[2020-12-09 21:44] #311 closed

[2020-12-10 07:38] AlberTgarY commented on #339
**Here is my code:**

[code]
**and .pysa_configuration:**

[code]
**But it crashed:(since I delete ./slackbot?)**

[code]

**so I add it back:(will this effect pysa to recognize the variable?)**
[code]
**Here is the output:**
[code]

Thank you!!

[2020-12-10 21:20] gbleaney commented on #339
@AlberTgarY the reason you got that "crash" (it's really just a model validation error that we don't do a good job of explaining - we're working on fixing that right now) is that you have a model that looks like this:
[code]
But once you delete `"./slackclient"` from your `search_path`, the model is needs to be changed to this:
[code]
The reason for this is that when you put `"./slackclient"` in y

[2020-12-12 05:58] AlberTgarY commented on #339
wow it worked, thank you so much for answering my questions so patiently😭😭😭😭😭 much love,  I'm closing this issue now.

[2020-12-12 05:58] #339 closed

[2020-12-12 18:16] anniecherk commented on #350
Adjusting the settings in my `.pyre_configuration` file fixed this problem! I'm still unsure of why it was crashing, but it's no longer a problem for me, so I'm going to close this issue.

[2020-12-12 18:16] #350 closed

[2020-12-15 15:56] gbleaney commented on #304
Sorry for the delay. I just started the land process to add the example to our docs. Thanks for the suggestion!

[2020-12-15 15:56] #304 closed

[2020-12-16 05:18] TomMD opened #356 "Regarding the [in]actionability of pyre results"
We've been running Pyre on PRs in apache/skywalking-python for over a month now, receiving several `Incompatible variable type`, `Missing argument`, and `Unused ignore` errors.  The type messages make good sense to me coming from a HM type system, but the Python team hasn't come across an error that was clearly a great catch - nothing compelling thus far.

Is there a subset of pyre errors that ind

[2020-12-16 13:05] sk- opened #357 "Mutually recursive type variables"
When answering a [question on StackOverflow](https://stackoverflow.com/questions/57129069/why-doesnt-this-higher-order-function-pass-static-type-checking-in-mypy/65323798#65323798), I found a weird issue with pyre.

The following code checks:

[code]

But if we move the `identity` function outside `compose`, then the code fails with

[code]

But then If I replaced the custom reduce with `functools

[2020-12-23 02:28] pradeep90 commented on #357
@sk- Thanks for the thoughtful question. Overall, Pyre doesn't yet have great support for higher-order generic functions called with other generic functions. We plan to substantially improve Pyre's type inference over the next year.

There are two subtle bugs here:

1. Essentially, when checking compatibility for `reduce(...)`, in one of the steps, Pyre confuses `identity.T1` with `reduce.T1`. Thi

[2021-01-10 15:59] luizribeiro opened #364 "site-package search path doesn't support single file Python modules"
One of my projects that uses `pyre` depends on `pypng`, which is a Python module that consists of a single `.py` file (i.e. it's path is `<venv>/lib/python3.9/site-packages/png.py`).

I tried adding it to the search path by doing this:

[code]

But then `pyre rage` shows me that that path was just ignored since it's non-existent:

[code]

This makes sense, since the real path is `.../png.py`, so I

[2021-01-15 01:45] vincent-musedev opened #369 "Ignoring/skipping invalid models without terminating the analysis"
While running pyre against many repositories using the core *.pysa files the vast majority (all) of our analyses are failing with errors such as:

[code]

Is it possible to add a flag to downgrade model issues to warnings and ignore the affected models, or is this indicative of a misconfiguration somewhere?

[2021-01-15 04:38] gbleaney commented on #369
This isn't a configuration problem; sadly it's actually a sign you're probably set up right. The reason you're getting a bunch of invalid models is that we ship a TON of models with Pysa these days, and not everyone uses the libs these models correspond to. If you have a model for a lib which is not in your venv, Pysa will think the model is invalid because it can't find the source code of the lib

[2021-01-15 16:44] dkgi commented on #364
Ironically, this is hitting us as well when running Pyre on Pyre. cc @grievejia

[2021-01-15 23:23] grievejia commented on #364
Thanks for the report! Yeah I think the issue here is actually more general: currently Pyre interprets elements in `search_path` to be all directories. This fundamentally limits its capability to handle single-file Python modules. Both the OCaml side and the Python side have to be updated to address the issue.

As a temporary workaround, @dkgi recently added a feature where if `search_path` is not

[2021-01-19 15:26] gbleaney commented on #369
Closing out the issue because I think it's been resolved, but feel free to re-open if you have more questions!

[2021-01-19 15:26] #369 closed

[2021-01-24 10:26] marinelay opened #374 "Cannot install pyre from source"
I ran `./scripts/setup.sh --local` on my wsl, but I couldn't find the Makefile which was made.
So, I'm getting stuck to build pyre from source through `make`.

This is my log when using `./scripts/setup.sh --local` command :

[code]

Where can I find the Makefile?

[2021-01-28 13:03] falcorocks opened #375 "AttributeError: module 'contextlib' has no attribute 'asynccontextmanager' in conda environment with python3.6"
I'm trying to use pyre-check within conda environments. I am having bad luck with python3.6 environments. Things work fine with python3.8 and later though.
Docs says pyre-check works on python3.6 and later. Wrong docs or bug?

Steps to reproduce & error message:
[code]

Update:
If I pin installation to 0.0.58, pyre works.

[code]

[2021-02-01 18:14] MaggieMoss commented on #375
Looks like the linked commit above should fix the issue. Closing.

[2021-02-01 18:14] #375 closed

[2021-02-01 18:42] falcorocks commented on #375
Thanks! Great work and great tool guys!

[2021-02-02 14:47] apurvjain17 opened #376 "ModuleNotFoundError: No module named 'pyre-check'"
Hi

I am using python3.8 and have all the dependencies installed using` python3.8 -m pip install <package-name>`

I was following the tutorials in the git repo whenever I am running `python3.8 generate_models.py --output-directory .` the shell throws an error `ModuleNotFoundError: No module named 'pyre-check'`, even though I've tried install pyre-check using multiple different ways.

Please help!

[2021-02-02 14:50] apurvjain17 commented on #376
Logs after installing pyre-check
`$ python3.8 -m pip install pyre-check
Requirement already satisfied: pyre-check in /usr/lib/python3.8/site-packages (0.0.59)
Requirement already satisfied: pywatchman in /usr/lib/python3.8/site-packages (from pyre-check) (1.4.1)
Requirement already satisfied: click in /usr/lib/python3.8/site-packages (from pyre-check) (7.1.2)
Requirement already satisfied: datacla

[2021-02-02 22:22] gbleaney commented on #376
@apurvjain17 thanks for the bug report! It looks like we changed the structure of the `pyre-check` PyPI package in the latest release, and that's affecting the lookup of the module that `generate_models.py` is trying to import. I'm looking into it and will let you know when we have a fix.

[2021-02-03 15:52] gbleaney commented on #376
Fix is landed. If you pull the latest master branch, the exercise should be working for you again. Thanks again for letting us know, and please re-open/open another issue if anything else comes up!

[2021-02-03 15:52] #376 closed

[2021-02-03 23:46] pgronau commented on #349
I can confirm this issue:
[code]

[2021-02-07 14:48] angelinag commented on #350
@anniecherk Hello, can I take a look at your `.pyre_configuration`? We have the same exact issue and we need to fix it urgently, our demo is tomorrow.

[2021-02-07 15:00] angelinag opened #378 "Unknown AnalysisClassHierarchy.Untracked(_) exception occurs at analysis"
Hello, urgently trying to find a fix for an unidentified and undocumented error.
Running pysa analysis and getting this error:

[code]

pyre config file:
[code]

Our model:
[code]

The class its modelling:
[code]

We tried tweaking a lot of things and we keep getting the same error.
Only found 3 mentions of this problem so far [here](https://github.com/facebook/pyre-check/issues/344), [here at the

[2021-02-08 19:32] gbleaney commented on #378
@angelinag we're going to do some work to make that error message a lot more helpful. Thanks for pointing this out.

In the mean time, your attempt at excluding your venv in via `taint.config` seems like the right approach, because odds are it's something in the venv that's causing the exception. I wonder if the exclude isn't working though. To test that, can you try two different approaches:

1.

[2021-02-10 07:12] SaurusXI commented on #378
@gbleaney I'm a part of this project also. I've got an update on this - turns out the problem was within our own library, specifically a misplaced import statement.
As you've already mentioned, the issue here is that there is no meaningful exception that can help with debugging. I might have a helpful suggestion for this - I was able to identify what was wrong by running a `pyre` server in the pro

[2021-02-10 15:48] gbleaney commented on #378
@SaurusXI is there any way you could put that into a small file I could use to repro? From what you were describing, I assumed adding an `import thispackagedoesnotexist` would triger the bug, but it appears it doesn't.

[2021-02-20 01:42] erictraut commented on #241
The current behavior appears to be correct according to PEP 484. The code in the first sample should generate errors.

The problem is that the signature of `fn` indicates that it accepts an object that must be a subtype of either `int` or `str` and return _the same type_. The body of the function is returning either `int` or `str`, which are not guaranteed to be the same as the type of the input p

[2021-02-22 14:03] ggoossen opened #380 "Function definition does not override signature of imported function"
[code]

Pyre incorrect detect a type error:
[code]

Expected behaviour is that is uses the type signature from the new function, and thus correctly not detect any type error.

Using Pyre version 0.0.59

[2021-02-22 14:32] ggoossen opened #381 "Request to improve error message by including value of type variables."
[code]
Produces the type error:
[code]

Which isn't informative as it doesn't include the value of `Ta`.
Instead I would like to see an error like:
[code]

[2021-02-22 23:08] cdonovick opened #383 "Running pyre with virtuelenv under source directories"
I am trying to get to pyre to run when the virtuel env directory is under the root directory of a project.
My typical file structure is something like:
[code]
Now I want to add a `.pyre_configuration` to `project/`:
[code]
But because `./project-env/` is under `.` this results pyre trying to type check everything.

If I change `source_directories` to `"./project/"` then pyre doesn't understand `im

[2021-02-23 00:44] arthaud commented on #381
Hi @ggoossen, thank for the suggestion. I have put this in our backlog.

[2021-02-23 01:44] arthaud commented on #383
Hi @cdonovick,

You have two solutions (but actually, only one works?):
* You could put the `.pyre_configuration` in `project/project/` and have `../project-env/` in the search path
* In theory, you should be able to use `{"root": "x", "subdirectory": "y"}` inside `"source_directories"` but I have no idea how that works, and this is not documented.

[2021-02-23 02:10] arthaud commented on #380
Hi @ggoossen,

Pyre is an opinionated type checker, and does not accept overriding existing symbols. This can be avoided here by using `import math` or `from math import exp as math_exp`. In general, we try to avoid wildcard imports.

[2021-02-23 02:10] #380 closed

[2021-02-23 02:13] dkgi commented on #383
I've tried the root/subdirectory combination on SAPP just now and this seems to work: https://github.com/facebook/sapp/pull/9/files

Definitely missing documentation though.

@cdonovick: could you give this a try?

[2021-02-23 02:31] dkgi commented on #383
Never mind my suggestion, it does not make sense. I think the reasonable suggestion here is to not put the virtual environment in the project directory.

[2021-02-23 09:43] m0mosenpai commented on #374
I think it get's dumped in the `pyre-check/source` directory. The docs say it's in the `checkout` directory, which is a bit ambiguous. I recently installed it from source myself and found some things that might need to be fixed in the documentation and am planning to open a PR for that soon.

[2021-02-23 13:01] marinelay commented on #374
@m0mosenpai Thanks for the response!

If it get's dumped in the `pyre-check/source`,
then I think it can be installed using only `./scripts/setup.sh --local` but I couldn't use `pyre init`.
How did you install from source?

If you open the PR later, it will be helpful for me!

[2021-02-23 13:58] m0mosenpai commented on #374
Even I couldn't use `pyre init`.
https://github.com/facebook/pyre-check/issues/183 Check this issue out. <br>
From what I understood, you need to use the `client/pyre.py` wrapper to run pyre. The main binary resides in `source/_build/default/main.exe` and incase the wrapper is not able to find it, you can use the `--binary` option with it to point it to the binary (that command sets the `PYRE_BINA

[2021-02-24 01:07] arthaud commented on #383
Hey @cdonovick,

If you use the `pyre-check-nightly` package instead of `pyre-check`, you can use:
[code]
in your `.pyre_configuration` file at the root of your repository, and that should exclude errors from the virtual environment.

Please let us know if that worked.

[2021-02-24 03:26] marinelay commented on #374
`python -m client.pyre` is working!
I will try setting up the `PATH` too. If I find some solution, I will mention it.
Thanks a lot @m0mosenpai

[2021-02-25 21:28] cdonovick commented on #383
@arthaud This worked! thanks.

[2021-02-25 21:28] #383 closed

[2021-03-08 09:39] pzsette opened #390 "Add flask_mysql cursor execute as sink"
I'm testing Pysa to detect vulnerabilities in my flask web application, but i can't add `flask_mysqldb` commands as Pysa sinks.
If i run `pyre analyze --no-verify` Pysa doesn't detect this as a vulnerability

[code]
Should i add a new sink in `.pysa` files in taint folder ?

[2021-03-08 15:00] gbleaney commented on #390
It looks like `flask_mysqldb` just creates a `MySQLdb` connection and returns it:
https://github.com/alexferl/flask-mysqldb/blob/9d5cd92517f1d1a052660c6aa324b2df067190ef/flask_mysqldb/__init__.py#L81

We actually have taint models for `MySQLdb` already:
https://github.com/facebook/pyre-check/blob/master/stubs/third_party_taint/mysqldb_sinks.pysa

The real problem here is that `flask_mysqldb` doesn

[2021-03-08 17:53] pzsette commented on #390
I've added `search_path` in my `.pyre_configuration.local` and create a `flask_mysqldb.pyi` file with stubbed method inside flask_mysqldb folder,  but Pyre can't still determine the return type of the functions.
[code]
flask_mysqldb.pyi
[code]

[2021-03-08 18:12] gbleaney commented on #390
I believe fields in `.pyre_configuration.local` will override fields in the  `.pyre_configuration` file, so be careful you're not inadvertently overriding the search path in the `.pyre_configuration` at the root of your repo.

Two things here:

1. It looks like [`MySQLdb` is also missing type information, so you probably also need a stub there](https://github.com/PyMySQL/mysqlclient/blob/24aaa72c1

[2021-03-08 18:32] pzsette commented on #390
these are the messages from reveal_type:
[code]

[2021-03-08 18:43] gbleaney commented on #390
What is `database`? That doesn't seem to match your example code. Since we see `database.db` is `Any`, we're not getting the tying right on that attribute, so nothing after that point is going to work. Can you include the definition of the class of which `database` is an instance, especially the bit where the `db` the property or attribute is defined? We'll need to get the typing right on `databas

[2021-03-08 19:45] pzsette commented on #390
sorry, in the first example i was merging all together for simplicity, the database.py file is very simple:
[code]
then in the run.py
[code]
this is the class where create_app is defined:
[code]

[2021-03-08 19:56] gbleaney commented on #390
@pzsette Can you also include where `db.connection.cursor()` and `cursor.execute(query)` are called in your example? And can you ask try editing `database.py` to be `db: MySQL = MySQL()`, then re-run pysa and give me the updated `reveal_taint` output?

[2021-03-08 20:12] pzsette commented on #390
i edited the previous comment with cursor class and this is the updated `revelation_taint`:
../run.py:6:0 Revealed type [-1]: Revealed type for `database.db` is `flask_mysqldb.MySQL`.
../run.py:7:0 Revealed type [-1]: Revealed type for `database.db.connection` is `unknown`.
../run.py:8:0 Revealed type [-1]: Revealed type for `database.db.connection.cursor` is `unknown`.
auth.py:25:12 Revealed type

[2021-03-08 21:48] gbleaney commented on #390
Alright, it looks like we've solved the problem for `database.db` being `Any`! Next step: why is `database.db.connection` `unknown`? Let's look at a few things:

1. What's your directory structure? Above you said you had `search_path` as `./flask_mysqldb` in `.pyre_configuration.local`? Does that mean you have a `./flask_mysqldb/fask_mysqldb.pyi`? That's what you'd need to properly pick up the `fa

[2021-03-09 12:01] pzsette commented on #390
this is the updated `.pyre_configuration` file, Pyre is not in venv
[code]
unfortunately if run `pyre` i got same as before:

[code]

here there's a screenshot of my project files if can help
https://imgur.com/L65E6cd

[2021-03-09 12:10] m0mosenpai commented on #374
@marinelay Hey, the docs for building from source have been updated. Try the new steps and let us know if you face any other issues along the way.

[2021-03-09 15:34] gbleaney commented on #390
Just to be clear, we're no longer working with a `.pyre_configuration.local` file? It's just that one in the root of `WebAppStaticAnalysis`?

This is actually progress! The lack of `Annotation 'object' is not defined as a type.` means that Pyre is finding typeshed correctly. Let's break down the other errors:

[code]

I don't 100% know what's going on here, since you haven't provided the source of

[2021-03-09 19:04] pzsette commented on #390
Thank you so much for the help.
1.  I decided to make all pyre configurations inside `.pyre_configuration` file and delete `.pyre_configuration.local`. I hope that is safe to do this.

[code]
2. I made some changes inside flask_myqldb folder, now i have three `.pyi` files:
*  `flask_mysqldb.pyi`
[code]
* ` connections.pyi`
[code]

* ` cursors.pyi`
[code]

if i run `pyre`:
[code]

[2021-03-09 23:35] pzsette commented on #390
Yes both `connection.pyi` and `cursors.pyi` are inside MySQLdb folder.
I think i'm close to solve the problem but i can't correctly stub [this](https://github.com/PyMySQL/mysqlclient/blob/24aaa72c1503fe35cb1d0584ad553b41d10ddb48/MySQLdb/connections.py#L246) method. This is my `connection.pyi` file:
[code]
PyCharm however suggests that this "overrides method in Connection".

I added other `reveal_t

[2021-03-10 04:20] gbleaney commented on #390
One problem I see is that your class is called `Connections` not `Connection`. I also don't think the inheritance from `MySQLdb.connections.Connection` is needed. Can you try something like this for `connection.pyi`?

[code]

Yeah, that's what I think should be happening too. I'm hoping the above change to the stub file should fix it.

[2021-03-10 15:55] gbleaney commented on #390
In your message you use both `connection.pyi` and `connections.pyi`. Just to clarify, you are using `connections.pyi` (with the `s`), right? That's the name of the file in `MySQLdb`.

Are you getting an error, or is it just not having any effect? And to confirm, the edit looked like this, right?

[code]

[2021-03-10 17:52] pzsette commented on #390
* yes sorry, the filename is `connections.pyi`.
* just no effect, same report i have pasted before.
*  yes, now the `connections.pyi` is:
[code]

[2021-03-10 17:56] gbleaney commented on #390
Hmm, alright, I'm at a bit of a loss for what other bugs there might be. Can you put your repro up in a GH repo or something that I can clone and test on locally?

[2021-03-10 18:24] pzsette commented on #390
sure, this's the repo i'm using https://github.com/pzsette/WebAppStaticAnalysis/tree/with-vulnerability
I want to apologize in advance for my bad code. I'm a student and python beginner.

[2021-03-11 08:57] #390 closed

[2021-03-11 22:46] CapCap opened #392 "type alias breaks pyre-check"
We are trying to use mypy-protobuf to generate types for our pb, and are running into a problem where pyre is unhappy with `builtins.int` not being a type, even though `builtins.int === int`, and using just `int` works fine (except this is generated code)

[2021-03-16 06:46] EricLiclair commented on #254
Does this mean changing line 1 [here](https://github.com/facebook/pyre-check/blob/a20bfdabfb09e24b4ceb2b67738d60c562b123a0/source/parser/dune) ?

Or will it require much more than just this?

[2021-03-16 06:48] EricLiclair commented on #238
Can you point out a file location for me to dig deeper into? Maybe I can try giving a broad look to the responses. 😄

[2021-03-19 17:58] MaggieMoss commented on #374
Closing since the docs have been updated. @marinelay feel free to re-open if you run into any issues :)

[2021-03-19 17:58] #374 closed

[2021-03-19 18:00] MaggieMoss commented on #238
@EricLiclair I am going to close this issue - IIRC it hasn't been reported recently, and with our v2 server, it should no longer be an issue. I will re-open if it appears again.

[2021-03-19 18:00] #238 closed

[2021-03-19 18:10] #309 closed

[2021-03-19 18:11] MaggieMoss commented on #282
Closing since it seems like this has resolved - if it appears again feel free to re-open.

[2021-03-19 18:11] #282 closed

[2021-03-19 18:13] MaggieMoss commented on #275
cc: @shannonzhu @grievejia this might be relevant for the config changes that have been discussed.

[2021-03-19 18:14] MaggieMoss commented on #326
@gruszczy  Are you still seeing this error?

[2021-03-19 18:17] #316 closed

[2021-03-19 18:18] MaggieMoss commented on #349
@theBigGron @baptiste0928

Thanks for reporting. I'm curious if either of you are seeing any warnings related to typeshed?

[2021-03-22 14:13] alumarcu opened #396 "Support for Apple M1"
I'm having issues running `pyre-check` (0.9.0) on the new M1 Apple CPU.

This is the error I get when running `pyre check`
[code]

I ran `pyre rage` to collect all logging info, and this is what I got:

[code]

Looking for `ftruncate` in pyre-check source code, it looks like it links to a C file: `source/hack_parallel/hack_parallel/heap/hh_shared.c`.

I assume that the binary needs to be rebuilt f

[2021-03-23 17:12] isturdy commented on #267
I don't think the typechecker is wrong here--`Type[T]` does accept concrete subclasses of `T`, but it also accepts `T` itself--they may be instantiable, but the typechecker doesn't know that they are. What you want is a metatype that accepts concrete subtypes of `Abstract` but not it (or also-abstract subtypes).

[2021-03-23 20:16] abadger opened #398 "Why is re-annotating a variable now illegal?"
I recently tried to upgrade pyre to 0.9.0 and ran across this change: https://github.com/facebook/pyre-check/commit/6468bdc844dd475f194a326298128391c717f20d

I could not find a PR so I don't know if there was any discussion about this?

I use pyre instead of other type checkers precisely because it and pytype are the only type checkers I've found which do(did) what I considered the "right thing" i

[2021-03-23 20:28] dkgi commented on #398
IIRC this change was made after some discussion on typing-sig around what the desired behavior for this should be. @shannonzhu will have more context.

[2021-03-23 20:55] abadger commented on #398
Thanks.  I wasn't able to find anything but I probably just don't know the right search terms to use on that mailing list.

[2021-03-23 21:30] shannonzhu commented on #398
You can find the discussion on typing sig by searching for `Unions and initialization across type checkers`, but the thread is super messy structurally and I always have some trouble finding chronological replies.

The result of the thread was some standardization across type checkers around how explicit annotations of local variables, and type refinement of local variables, are handled. We wanted

[2021-03-23 21:41] abadger commented on #398
Thanks, I'll check out the thread and see if I can get anything out of it.

You said that this trades off convenience.  So what is the inconvenient way to annotate this valid Python code?
[code]

[2021-03-23 23:06] shannonzhu commented on #398
In short, it would be to rename any variables that are not structurally the same.
[code]

I'm cheating here by removing intermediate variables that didn't seem necessary. Of course, I'm assuming that there might be more complicated code where holding the intermediate value is necessary because each different structuring of args is needed and referred to later on or between each step. But in that c

[2021-03-24 02:15] abadger commented on #398
Ah, so it's not actually an inconvenient way to type the variables.  it's a way to rewrite your code due to limitations in the type checker.  Thanks.  Maybe I'll have to fork my own type checker.

[2021-03-24 02:29] #398 closed

[2021-03-24 18:15] pradeep90 commented on #396
cc @grievejia who I think has the most context on our support for non-Linux OSes

[2021-03-25 20:07] #306 closed

[2021-03-27 21:50] gracewgao commented on #396
@gbleaney Could we possibly create a Docker image to build pyre-check from source?

[2021-03-28 16:55] gbleaney commented on #396
@gracewgao you should be able to just grab an [Ubuntu 16 LTS Docker image](https://github.com/tianon/docker-brew-ubuntu-core/blob/e72e50c16ab07b13c35af97bed0cc7860369e0c6/xenial/Dockerfile) and boot into that, then follow the [regular build instructions](https://pyre-check.org/docs/installation#building-from-source).

[2021-03-29 03:19] r-barnes opened #401 "Can't parse unicode"
I ask Pyre to type check a file including:
[code]
and it returns
[code]
It looks like it doesn't like the use of `μ` as a variable name, though that should be valid and Python 3.8.5 interprets it as such.

[2021-03-29 20:11] JelleZijlstra commented on #401
Duplicate of #254 I think

[2021-03-29 20:39] dkgi commented on #401
Will close in favor of the existing one. Our OCaml parser does not support unicode by default. We have plans to address this but they're not currently a priority :/

[2021-03-29 20:39] #401 closed

[2021-03-30 15:18] 0xedward opened #403 "`pyre-check-nightly` fails on `pyre analyze --no-verify` because it attempts to check if a file is a directory"
# Summary
`pyre analyze --no-verify` on current `pyre-check-nightly` attempts to check if `.venvs/venv/lib/pyre_check/typeshed/stdlib/zlib.pyi` is a directory, but `.venvs/venv/lib/pyre_check/typeshed/stdlib/zlib.pyi` is a file.

I've checked that `~/.venvs/venv/lib/pyre_check/typeshed/stdlib/zlib.pyi` exists.

## Version
`pyre --version`
[code]

# Steps to reproduce
1. `brew install python3 watch

[2021-03-31 08:18] alumarcu commented on #396
@gracewgao Thanks for the idea! I checked existing pyre check images and there's [this one](https://github.com/GeekMasher/pyre-check-docker) that's available. It's somewhat outdated but it actually works in compatibility mode and it does so without crashing, and for our use case (pyre check) it seems to give consistent output.

It's a good temporary fix for now. But I'm still hoping to see some of

[2021-04-05 13:51] gracewgao commented on #396
@alumarcu Official support would be awesome, and thanks for sharing the Docker image! I've also made [another image](https://github.com/gracewgao/pyre-docker) that builds from source, so feel free to check it out if installing from pip fails.

[2021-04-12 21:08] mrahtz opened #408 "Cannot import pyre_extensions"
Hi all,

I'm having some trouble getting Pyre to import `pyre_extensions`:

[code]

I notice that if I add my `site-packages` directory to Pyre's `search_path`, then everything is fine:

[code]

I see in [examples/pytorch/.pyre_configuration](https://github.com/facebook/pyre-check/blob/e3394e1eb74751bf58283a961cd9383007b29823/documentation/examples/pytorch/.pyre_configuration) this should also be

[2021-04-12 21:23] mrahtz commented on #408
Welp, my workaround ended up...not working...so I dug into this a bit more.

It looks like the issue is the use of `site.getsitepackages()`. If I change `_get_site_roots` in `client/configuration.py` to:

[code]

Then it works fine. Is it a deliberate assumption that `pyre_extensions` is installed in the global site-packages directory, as opposed to the user site-packages directory?

(@grievejia,

[2021-04-13 01:19] grievejia commented on #408
@mrahtz Thank you so much for the digging! TIL there's a user-specific site package dir. I typically run Pyre in a dedicated venv so so that's why I never thought about it. I've submitted your patch internally and can make it accessible in a few days if necessary.

I was also pretty surprised to find that venv does not actually hide the user-specific site package directory, which means any librari

[2021-04-13 08:37] mrahtz commented on #408
Yay, thanks! No worries about making it accessible soon - I discovered the venv workaround too.

Hmm, weird - my understanding is that it _should_ do unless the venv is created with `--system-site-packages`. This is how it goes for me:

[code]

[2021-04-13 08:37] #408 closed

[2021-04-13 17:14] grievejia commented on #408
Hmm, this is how it goes for me:
[code]

[2021-04-14 10:25] mrahtz commented on #408
Wow, this is confusing. On macOS, if I `pip install tensorflow` (without sudo) it gets installed to

`/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/tensorflow`

If I `pip install --user tensorflow` it gets installed to

`/Users/mrahtz/Library/Python/3.6/lib/python/site-packages/tensorflow`

`getusersitepackages()` in a venv reports:

`/Users/mrahtz/Library/Python/3.

[2021-04-19 09:19] maximmasiutin opened #410 "Sample .pysa files with input sources defined for an HTTP request"
I have created my own .pysa file to define HTTP request class or methods that return contents of GET or POST as taint source for the “UserControlled” input. I have also defined methods of SQL cursor like execute as TaintSink for the “SQL” sink. However, I didn’t manage the “pyre analyze” to find any SQL vulnerability. I did only manage to find a shell injection vulnerability in a very simple test

[2021-04-19 12:49] #410 closed

[2021-04-19 13:41] maximmasiutin opened #411 "Pyre returns different results with the same input for sqlite3 (all SQL injections found) and mysql.connector (just 1 injection found out of 3)"
I have created a taint sink file for mysql.connector (mysql_connector_sinks.pysa) and a sample application (unsafe-mysql.py), with 3 subsequent lines, each of them sends an SQL-injectable query to the server. However, pyre only detects the last string as vulnerable, and if I comment it, it detects none. However, if I send the same strings to sqlite3 (using sqlite3_sinks.pisa that ships with pyre-c

[2021-04-19 16:51] onionymous commented on #411
Hello @maximmasiutin! The reason you can't detect issues with your taint models for `mysql.connector` is because your project does not have type information for the `mysql` module. Our documentation at https://pyre-check.org/docs/pysa-false-negatives#missing-type-information describes how to debug these false negatives. Adding `reveal_taint()` and `reveal_type()` calls to your code makes this clea

[2021-04-19 17:16] onionymous commented on #411
Closing since the question has been answered, but feel free to reopen if you have any other concerns or questions!

[2021-04-19 17:16] #411 closed

[2021-04-19 18:02] maximmasiutin opened #413 "Update Django .pyi files"
I have made a pull request to update the Django .pysa file "django_sources_sinks.pysa" to the current release of Django, since the existing .pysa file gives errors preventing "pyre" from running, see https://github.com/facebook/pyre-check/pull/412

However, there are lots of Django .pyi files at https://github.com/facebook/pyre-check/tree/master/stubs/django made by Facebook which also need to be

[2021-04-19 18:13] maximmasiutin commented on #411
Thank you very much for your great and timely reply! You've made my day! I have been able to find vulnerabilities with Pyre in simple programs like https://github.com/fportantier/vulpy that have straightforward execution flow, but not yet with Django projects like the following:
https://github.com/anxolerd/dvpwa
https://github.com/nVisium/django.nV
https://github.com/andresriancho/django-moth
http

[2021-04-19 19:27] 0xedward commented on #403
Closing, because this issue doesn't reproduce in the current nightly version

`pyre --version`
[code]

[2021-04-19 22:24] arthaud commented on #378
We have improved that specific exception, it should now give the problematic class. I will close this for now, feel free to reopen if you still have issues.

[2021-04-19 22:24] #378 closed

[2021-04-19 22:33] onionymous commented on #413
So this is part of a bigger discussion that we're having internally, but the **tl;dr:** these type stubs are no longer actively being maintained. In general the focus of Pyre/Pysa is just typechecking and static analysis, and we'd prefer not to maintain type stubs if possible - it's best if existing projects having their own type information, or we rely on typing projects like Typeshed. Since ther

[2021-04-19 22:51] maximmasiutin commented on #413
Thank you, I will take the https://github.com/typeddjango/django-stubs file. However, an updated .pysa file for Django is still needed, because in the latest version of Django, "pyra analyze" gives errors unless you update the "django_sources_sinks.pysa" file.

[2021-04-19 22:53] onionymous commented on #413
Yes, that is true. Thank you for the PR - we'll get around to looking at the changes in #412 as soon as possible.

[2021-04-19 22:59] maximmasiutin commented on #413
I'm still not yet very comfortable with testing Django applications with "pyre analyze". Once I manage to configure Pyre to find vulnerabilities in the deliberately vulnerable Django applications, and we will be able to make sure that the https://github.com/typeddjango/django-stubs work with Pyre properly, we should probably delete the folder with "django" .pyi files from the Pyre repository, and

[2021-04-20 11:56] maximmasiutin commented on #413
I have found the following issues with https://github.com/typeddjango/django-stubs :

It does not define "cached" properties, while .pysa lists at least one of them:
taint/django_sources_sinks.pysa:13:0 `django.http.request.HttpRequest.accepted_types` is not part of the environment!

It does not define properties starting with "_" (underscore), while such properties are defined in the .pysa file:

[2021-04-20 12:25] maximmasiutin commented on #413
I have made a pull request at https://github.com/typeddjango/django-stubs/pull/598

However, if we would like to use the https://github.com/typeddjango/ exclusively instead of the custom-made stubs for Django, we have to figure out what to do with the underscore functions defined in the “.pysa” file.

[2021-04-20 19:49] gbleaney commented on #413
It looks like all of those functions do exist in the Django source code (eg. [`__repr__`](https://github.com/django/django/blob/54e94640ace261b14cf8cdb1fae3dc6f068a5f87/django/http/response.py#L333)). If you add them to typeddjango/django-stubs#598, the `_` Pysa models should start passing validation.

[2021-04-20 20:39] maximmasiutin commented on #413
When I viewed the code at typeddjango/django-stubs, I have figured out that they deliberately don't add "_" methods to .pyi files. I may however make a pull request with a few "_" functions, but it is unlikely to be accepted. Is there real value for them in Pyre?

[2021-04-20 21:11] gbleaney commented on #413
We need them to be present if we're going to keep those models around. Pysa enforces that models correspond to functions that it knows exist, and if the `.pyi` file doesn't contain those `__` functions, then there's no way for Pysa to know they exist.

I've subscribed to https://github.com/typeddjango/django-stubs/pull/598 and will happily jump in to help make the case if they don't want to accept

[2021-04-20 22:01] maximmasiutin commented on #413
@gbleaney It is unlikely that they would accept https://github.com/typeddjango/django-stubs/pull/598 because it failed the tests. I have no idea why it failed and how to fix it.

I might have created a second pull request with underscore-prefixed functions, but without the https://github.com/typeddjango/django-stubs/pull/598 Pyre would not work anyway.

[2021-04-21 14:30] gbleaney commented on #413
@maximmasiutin if they don't accept typeddjango/django-stubs#598, I'm OK with updating our Pysa models to match their polite fiction about `_BaseQuerySet`. If we add a pip dependency of `pyre-check` on `django-stubs`, then all users of pyre will get those stubs, and the models will will pass validation.

[2021-04-21 14:32] mabdullah1994 opened #416 "Client exited with error code -9 - Killed"
Getting this issue when running `pyre analyze` in Docker container.

[code]

.pyre_configuration
[code]

After getting stuck at `No cached initial callables loaded, fetching initial callables to analyze...`, the process is killed automatically.

-------------------------
I replicated the entire exercise1 and followed the instructions. It worked on my Macbook but not in Docker container where I got

[2021-04-21 18:54] maximmasiutin commented on #413
The suppliers of the .pyi files did deliberately not include names starting with underscore, because they are reserved for internal use. So even if I ask to add functions with underscore to the .pyi files, chances are low that they would accept it. This would have encouraged bad practice to use the underscored functions directly, so what is a rationale for them to just add a few for Pyre? They sho

[2021-04-21 18:57] arthaud commented on #416
Hi @mabdullah1994, thanks for reaching out.
Could you please run the analysis with the `-n` flag, so we can see the logs (e.g, `pyre -n analyze`)?

[2021-04-21 19:10] mabdullah1994 commented on #416
Hi @arthaud Thanks for the quick response. Here are the logs:

[code]

[2021-04-21 19:19] arthaud commented on #416
I think this might be a crash from the OCaml binary..
Could you try running the binary inside `gdb`? That might not be very easy to do inside docker :/
I think we should add an option to run gdb automatically. Let me work on that and get back to you.

[2021-04-21 19:27] arthaud commented on #416
Well, if you are really interested into debugging this, you should:
* Install gdb inside the docker container (some apt-get install)
* Update the code of the client, Line 301 of client/commands/command.py:
https://github.com/facebook/pyre-check/blob/master/client/commands/command.py#L301
Replace by: `client_command = ["gdb", "--args", binary, command]`
* Rerun `pyre -n analyze`
* When hitting the

[2021-04-21 19:49] arthaud commented on #416
As @gbleaney pointed out to me, this might a typical "out of memory" issue. How much memory did you assign to that container? Can you try giving it a few more GBs?

[2021-04-21 19:49] mabdullah1994 commented on #416
I followed the above-mentioned steps and ran the `pyre -n analyze` again, however, after erroring out, the gdb prompt did not appear. Following are the logs:

[code]

![image](https://user-images.githubusercontent.com/18423941/115612299-8a466d00-a304-11eb-9a20-ee97ce4664ca.png)

[2021-04-21 19:52] arthaud commented on #416
From what I see, the file you have updated is not actually used. You probably need to modify the file installed by pip, which is probably somewhere in a `site-packages` directory.

[2021-04-21 19:55] mabdullah1994 commented on #416
Well, I don't think I need to do anything. Just increased memory from 2GB to 6GB and it worked like charm. Spent so many days tried finding the issue. :)
Thanks for the support. I'll get back if I found this issue again, but for now it seems memory was the main thing.

[2021-04-21 19:56] arthaud commented on #416
Thanks! I will close this for now, please open a new issue if needed!

[2021-04-21 19:56] #416 closed

[2021-04-21 22:18] gbleaney commented on #413
Did the typeddjango maintainers say that somewhere? I couldn't find an example of that.

Double underbar functions are [standardized and documented functions](https://docs.python.org/3/reference/datamodel.html#basic-customization), unlike single underbar functions. And there seems to be a decent precedent for including these double underbar (note, not single underbar) methods in type stubs. For ex

[2021-04-22 07:07] belm0 opened #418 "Client exited with error code -6"
I followed https://pyre-check.org/docs/getting-started/

[code]

OS X 10.13.6
[code]

[2021-04-22 09:16] maximmasiutin commented on #413
@gbleaney Thank you! I will make a pull request to add methods with double underscores to http request and response classes, and also the _session_key for the SessionBase. The typeddjango/django-stubs maintainers did not say that they deliberately not include functions with single underscores. I did infer that from the meths that I did with grep. The maintainers of typeddjango/django-stubs did def

[2021-04-22 16:41] arthaud commented on #418
Hi @belm0, thanks for reaching out.
Could you try running pyre with logging enabled, using `pyre -n`, and send us the output? Thanks.

[2021-04-22 21:38] belm0 commented on #418
**First, the help output is not clear at all that `-n` enables debug output.**  Otherwise I would have tried that on my own to diagnose the problem.  It would be great to fix that.

[code]

[2021-04-22 21:45] belm0 commented on #418
**Symbol not found: ____chkstk_darwin**

It looks like an issue with older versions of OS X (I have 10.13.8 on my trusty old MacBook).

[code]

[2021-04-22 21:51] belm0 opened #419 "clarify option for debug output"
The help output is not clear at all that `-n` enables debug output.

Would you expect something that, on first glance, appears to say "disable logging" to actually enable logging?

[code]

suggested:
  * change help text to "Disable interactive logging / enable DEBUG logging."
  * make `-d` an alias for `-n`

raised in #418

[2021-04-22 22:15] arthaud commented on #419
This should be an easy fix in `client/pyre.py`, if you want to try contributing. I might do this soon anyway.

[2021-04-22 22:19] belm0 commented on #419
please go ahead if you have the chance-- thank you

[2021-04-22 22:35] belm0 commented on #418
With this OS restriction in the stock pypi distribution I'd be reluctant to take on pyre in our project's tool chain.  Despite having a large number of Python software tools in use, up until now we haven't had a problem with the OS X version of developer computers.

[2021-04-23 09:19] maximmasiutin commented on #413
I've created a request at https://github.com/typeddjango/django-stubs/pull/601

[2021-04-23 17:29] arthaud commented on #418
We definitely want to support macOS. What version of macOS are you using? I am using macOS Big Sur version 11.2.1 and had no problem with pyre.

[2021-04-23 17:30] arthaud commented on #419
FYI the recommended way to get logs is by using `pyre rage` after a run. I simply forgot to mention this in the other issue.

[2021-04-23 21:16] #419 closed

[2021-04-27 21:51] zhzhang opened #421 "Pyre is unable to correctly type JSII generated classes."
Repo to help reproduce: https://github.com/zhzhang/jsii-example

I make the following interfaces in Typescript:
[code]

I then compile these to python with `npm run build && npm run package`. This produces some build artifacts (.tar.gz, .whl) in the `./dist/python` directory that can be pip installed.

The modules generated by JSII do have type hints, here's a snippet from the generated file:
[cod

[2021-04-27 22:00] JelleZijlstra commented on #421
Just a guess but maybe it's the `builtins.property` part; perhaps pyre only supports `@property`.

[2021-04-27 23:20] grievejia commented on #421
Thanks for the report! Yes there are actually 2 issues here:
- As @JelleZijlstra mentioned, Pyre was not really good when it comes to handling accesses to `builtins` modules. I can teach it to understand `@builtins.property` quickly but there's still some work involved in making sure it does not complain about missing attributes `property` in `builtins` module. Any chance you can just do `@propert

[2021-04-27 23:35] zhzhang commented on #421
Unfortunately I cannot apply either of these fixes, even though I'd love to! These modules are automatically generated by [JSII](https://github.com/aws/jsii/) and I don't think editing them post generation is a good idea.

[2021-05-11 01:46] JelleZijlstra opened #425 "PEP 647 (TypeGuard)"
I'd like to start using https://www.python.org/dev/peps/pep-0647/ in typeshed. Do you have any plans in that direction already?

I can look into adding basic support to unblock typeshed, which would mean simply interpreting `TypeGuard[...]` as an alias for `bool`.

[2021-05-12 04:35] pradeep90 commented on #425
Thanks for opening an issue with Pyre. We don't have plans in that direction in the near future. Looks like you mainly want to use it Typeshed stubs (i.e., replace `bool` with `TypeGuard[...]` as the return type).

I've added a workaround to recognize `TypeGuard` as a generic bool for the time being. We'll release a new open-source version of Pyre in the next two weeks.

Btw, I'm curious which fun

[2021-05-12 04:41] JelleZijlstra commented on #425
Thanks! I added examples of functions for which TypeGuard could be useful to the typeshed issue.

[2021-05-24 12:35] m0mosenpai opened #431 "validate_taint_models() fails for specific cases of incorrect Syntax in .pysa files"
# Pysa Bug

**Bug description**

Validating taint models fails for specific cases of incorrect Syntax. Since the new Pysa VSCode Plugin relies on `validate_taint_models()` performing correctly, the extension is unable to publish diagnostics and highlight the errors.

**Reproduction steps**

Taking one of the example `.pysa` files provided in `documentation/pysa_tutorial/exercise2` folder,

![image

[2021-06-02 02:46] grievejia commented on #396
Got a shiny M1 Macbook Pro and tried Pyre v0.9.3 on it -- it runs fine on my machine.

[2021-06-02 16:02] alumarcu commented on #396
Thanks for checking this! So far I got it to work via Docker and by installing the x86_64 version of Python and having the interpreter work completely in compatibility mode.
But I trust it works on arm64 now, there were a few OS updates since I created this issue, and I imagine the underlying issue was solved with these. Will close the issue.

[2021-06-02 16:02] #396 closed

[2021-06-08 20:21] #431 closed

[2021-06-08 21:33] arthaud commented on #431
Parse errors should now be reported as any other model verification error :)

[2021-06-11 20:15] kbansal commented on #52
1bb29f6 fixed it.

[2021-06-11 20:15] #52 closed

[2021-06-12 12:36] benzid-wael opened #435 "Cannot initialize project"
# Pyre Bug

**Bug description**
Cannot initialize project

**Reproduction steps**
1. install pyre
2. Run: pyre init

Installed packages:
pyre-check==0.9.3
pyre-extensions==0.0.21

**Expected behavior**
Project initialized

**Logs**
Please include any relevant logs here:

[code]

Please run your reproduction steps followed by `pyre rage > pyre_rage.log`, and upload the file here:

empty file

**Add

[2021-06-15 18:27] grievejia commented on #435
What does `pip show click` says? The `case_sensitive` argument was added to `click` in version 7.0 and Pyre does rely on it.

[2021-06-15 18:37] benzid-wael commented on #435
Hi @grievejia

Below the requested output

[code]

[2021-06-16 00:01] grievejia commented on #435
Hmm... That's weird. I couldn't repro this.
[code]
Could there be something else in your environments that mess up with the search path of the click library?

[2021-06-23 08:49] rossburton opened #436 "Can't use on Linux arm64 hosts"
After doing `pip3 install --user pyre-check` on my Linux arm64 machine:

[code]

Why did pip install macOS x86 binaries on a Linux arm64 box?  I'm guessing the binary is actually a macOS universal binary and the logic is "if arm64, then assume macOS"?

[2021-06-25 16:44] PulkitMishra opened #437 "pyre analyse --no-verify crashes with "Worker interrupted with signal: sigpipe""
# Pysa Bug

**Bug description**
I've been trying to get pysa to run on the [example flask app in the repo](https://github.com/facebook/pyre-check/blob/master/documentation/deliberately_vulnerable_flask_app/rce.py) but the process gets killed everytime (sometimes with sigpipe, sometimes with sigkill)

OS: popOS
python version: Python 3.8.6
.pyre_configuration file:
[code]

**Reproduction steps**

[

[2021-07-06 10:35] jckling opened #441 "Found 93 model verification errors in exercise3"
Hello, I'm working on pysa_tutorial exercises3 and I have a question.

Run `pyre analyze` with original files, pyre did not report false positive results and the last portion of the output was not a JSON array.

[code]

I'm using Ubuntu20.04 (python3.8.10 + virtualenv) and I have cloned the default master branch of pyre-check.

[2021-07-06 11:41] r0rshark commented on #441
Hi @jckling , are you experiencing this issue only for the exercise3 or on the previous ones as well?
Are you still able to reproduce it following these steps:
``
git clone https://github.com/facebook/pyre-check.git
cd pyre-check
cd documentation/pysa_tutorial
python3 -m venv tutorial
source tutorial/bin/activate
pip3 install pyre-check
pip3 install click click-log ipython==7.6.1 munch pygments SQ

[2021-07-07 01:20] jckling commented on #441
Only for exercise3

I encountered some errors in `pip install` but the last line showed that installation was successful.

[code]

the output of `pyre --noninteractive analyze --no-verify`

[code]

the output of `pyre check`

[code]

I found that I can't reproduce in my old environment, but yesterday I could get the weird result repeatedly. 😢

[2021-07-07 02:20] jckling commented on #441
BTW, is it the right way to add sanitizer for `operate_on_threes`? Call function `identity`  and mark it as a sanitizer 👇

view.py

[code]

sanitizers.pysa
[code]

[2021-07-07 03:03] jckling opened #444 "Pysa Tutorial missing fb-sapp"
In exercise4 I'm told to use `sapp`  but it isn't installed before. So I need to `pip3 install fb-sapp` before I continue the exercise.

The [README.md](https://github.com/facebook/pyre-check/tree/master/documentation/pysa_tutorial/exercise4#static-analysis-post-processor-sapp) file in exercise4 said:

Is it missing? SAPP should be installed in **Setup Instructions**.

[2021-07-07 03:33] 0xedward commented on #441
Hey @jckling, thanks for trying out Pysa! :)

It looks like Pysa is running fine for you, since the output of `pyre analyze --no-verify` contains the issues mentioned in the tutorial:
[code]

I think it's safe to ignore the model verification errors here. Pysa won't run analysis if there are any models that fail to verify, which is why you got no results earlier when you ran `pyre analyze`. You ca

[2021-07-07 03:50] jckling commented on #441
@r0rshark @0xedward Yes I can continue the exercises with `--no-verify` flag (for exercise 3, 4, 5).

Actually I only download the tutorial and read the links in the README files 😅

The Quickstart guide would be a big help! Many thanks!!!

[2021-07-07 04:00] jckling opened #445 "ModuleNotFoundError: No module named 'graphql3'"
# Pyre Bug

**Bug description**

`from graphql3 import GraphQLSchema` should be `from graphql import GraphQLSchema` in
[pyre-check/tools/generate_taint_models/get_dynamic_graphql_sources.py](https://github.com/facebook/pyre-check/blob/49c11adad395d26a4b6a858ae9c09b745e77de95/tools/generate_taint_models/get_dynamic_graphql_sources.py)

I'm working on pysa tutorial exercise5, and the instruction is

[2021-07-07 14:23] gbleaney commented on #444
Thanks for the report! This problem occurred because we removed `pyre-check`s dependency on `fb-sapp` a while ago, but forgot to update the tutorial. I've put up #446  to fix this.

[2021-07-07 14:23] #444 closed

[2021-07-07 15:40] #441 closed

[2021-07-09 17:31] abadger opened #447 "Does pyre have support for (or a workaround for) compat code for different versions of python?"
# Pyre Feature Request

**Is your feature request related to a problem? Please describe.**
I've started using argparse.BooleanOptionalActions which is present in Python3.9+.  When my code runs on older versions of Python, I use a compatibility shim that vendors the feature.  However, pyre (run on Python-3.8) errors out because python-3.8 does not have BooleanOptionalAction and it doesn't realize t

[2021-07-12 10:16] #445 closed

[2021-07-19 17:45] kbansal commented on #447
Pyre does take into account `sys.version_info` -- were you able to resolve this issue (I see you have a merged pull request now)? If not, can you provide a small python file reproducing the issue together with the .pyre_configuration -- that would by very helpful in debugging the issue. Thanks!

[2021-07-20 00:27] abadger commented on #447
I was able to workaround the issue but I wasn't able to resolve it.  It looks like the problem is that in some cases, pyre isn't using the proper type stub for argparse.   (my workaround was to copy a recent version of argparse.pyi to my local stubs/ directory).

I was able to create a simple reproducer:
[code]
This results in:
[code]

Note that this is probably not the exact same case as when I a

[2021-07-20 16:37] kbansal commented on #447
Thanks for taking the time to create a minimized repro.

Ah, I see. @shannonzhu: you were looking into some type stub issue -- is this related / had any recommendation here?

[2021-08-01 18:33] domandinho commented on #277
@dirn Which version does this issue occurs? I've copied your example and run it on pyre-check==0.9.3 and there were no errors.

[2021-08-01 18:48] dirn commented on #277
@domandinho well it was a year ago, so whatever was out at the time. To be honest, though, I stopped using pyre around that time so I couldn't tell you when it got fixed but since you say it is I'll close this.

[2021-08-01 18:48] #277 closed

[2021-08-03 02:12] mrajancsr opened #459 "not able to recognize 3rd party modules with pyre"
# Pyre Bug

**Bug description**
vscode is not recognizing 3rd party modules.  No issues yesterday, but today suddenly pyre is checking wrong folder

**Reproduction steps**
ran pyre-check on project folder and got the message: "Path does not exist: /Users/raj/Library/Python/3.9/lib/python/site-packages/scipy
ƛ Path does not exist: /Users/raj/Library/Python/3.9/lib/python/site-packages/scipy

I went

[2021-08-03 22:06] arthaud commented on #459
Hi @mrajancsr,

Could you send me the `.pyre_configuration` file that results into that error?
I believe `pyre init` should automatically add the `site-packages` directories into the search path.

[2021-08-03 22:43] #418 closed

[2021-08-03 22:44] arthaud commented on #418
Please open a new issue if this is still a problem. We definitely support macOS users.

[2021-08-05 01:56] mrajancsr commented on #459
it managed to fix it self.  not sure what happened.  so i will close this for now. thanks

[2021-08-05 01:56] #459 closed

[2021-08-14 18:25] mrajancsr opened #463 "pyre unable to find path"
# Pyre Bug

**Bug description**
Using virtual environment site-packages in search path...
ƛ Path does not exist: /Users/raj/Library/Python/3.9/lib/python/site-packages
ƛ Path does not exist: /Users/raj/Library/Python/3.9/lib/python/site-packages
ƛ Starting the server. Please wait... [120.1s]

This runs indefinitely

**Reproduction steps**
market-learn > marketlearn, py39

I usually do code market-

[2021-08-14 19:35] mrajancsr commented on #463
again not sure what happened. but it fixed it self.

[2021-08-14 19:35] #463 closed

[2021-08-19 14:19] cactuschibre commented on #435
I had the same problem and an upgrade of the `click` package fixed that:

[code]

[2021-08-19 14:36] cactuschibre opened #466 "Cannot analyze ("is not part of the environment")"
# Pysa Bug
**Pre-submission checklist**
[+] I've checked the list of [common issues](https://pyre-check.org/docs/pysa-quickstart/#common-issues) and mine does not appear

**Bug description**

The analyzis only gives error about the environment.

**Reproduction steps**

[code]

**Expected behavior**
Analyzis done.

**Logs**

[code]

**Additional context**

[code]

[2021-08-19 15:07] 0xedward commented on #466
Hey @cactuschibre , you can run `pyre analyze --no-verify` to run Pysa despite having model verification errors

Does that solve the issue you are running into?

[2021-08-19 15:50] cactuschibre commented on #466
Ok thanks, it is better ...

[code]

Nothing else in the output. So nothing found ?

[2021-08-20 00:58] 0xedward commented on #466
@cactuschibre so there could be many reasons why you aren't getting any results (e.g. repo you are running pysa on is missing critical type annotations, your pyre configuration file, the repo you are running pysa on doesn't have any issues pysa can detect with existing models, etc)

I noticed you are running Python 2.7.18 and aren't using a virtual environment. Both of which aren't well-supported.

[2021-08-20 23:16] grievejia commented on #185
This should be fixed on the new server, which always puts lock file under `/tmp`. It's likely that we'll switch to it by default in the next release but until then, running `pyre` which the `--use-command-v2` flag (e.g. `pyre --use-command-v2 check`) would do.

[2021-08-26 11:42] hoefling opened #468 "Using `--search-path` should append to default search path, not overwrite it"
# Pyre Feature Request

**Is your feature request related to a problem? Please describe.**

I've created a dummy project https://github.com/hoefling/pyre-issue-468 to demonstrate the issue. It has two dependencies: [`pydantic`](https://pypi.org/project/pydantic/) (typed) and [`backoff`](https://pypi.org/project/backoff/) (not typed in the current stable version). Since `typeshed` provides no type

[2021-08-26 18:51] #468 closed, assigned to nobody

[2021-09-12 03:21] tyoc213 commented on #349
@MaggieMoss how to print more warnings? Im having same issue in a new conda environment Im teting pyre on (for a little large project I want to add typing).

[2021-10-02 10:06] thomkeh commented on #349
I found this to work:

[code]

This basically asks python where the installed packages are and tells it to pyre. My .pyre_configuration is just this:

[code]

[2021-10-03 12:46] thomkeh opened #503 "Module-level Final variables are not usable as the underlying type in functions"
# Pyre Bug

**Bug description**
When declaring a Final variable on the module level and then using it in a function, pyre doesn't allow it to be used like the underlying type.

**Reproduction steps**
[code]
Pyre output:
[code]

**Expected behavior**
`Final[T]` should always be usable as just `T`.

**Logs**

(Please run your reproduction steps followed by `pyre rage > pyre_rage.log`, and upload the

[2021-10-06 11:38] Madhur314e opened #504 "error Uninitialized attribute [13] in pydantic even though strict mode is not set"
# Pyre Bug

**Bug description**
I made a class in Pydantic and when i ran pyre check it gave uninitialized attribute [13] error while strict mode was not set to true.
**Expected behavior**
As pyre docs states if strict mode is not set to true then  pyre check should not throw Uninitialized attribute [13] error.

**### My .pyre_configuration file**
[code]
**### My api/main.py file**
[code]

**Outpu

[2021-10-18 10:47] OrenGitHub opened #513 "Pyre analyze takes 15 minutes to finish simple example"
- I'm running your introductory example from [here](https://pyre-check.org/docs/pysa-running/) *exactly* as written.
- It takes around **15 min** (!) to finish, during which I see that pyre analyzes around **40k** (!) files.
- When it *does* finish, I get the desired source-to-sink, but I absolutely have no idea where those 40k files came from.

[2021-11-01 23:04] rohori opened #521 "type error as non-zero exit code"
**Context**:

* I use `poetry` and have a `src/package_name`-layout package.  To check that `pyre` is working as expected, I have made a type error in source code.
* `pyre` is installed without watchman.

**Expected behavior**:

* `pyre --source-directory src` exits with non-zero exit code.

**Actual behavior**:

* `pyre` outputs `ƛ Found 1 type error!`, but exit code was 0.

Is there some command

[2021-11-02 00:09] arthaud commented on #521
Pyre should exit with code 1 on type errors. If not, it might be a bug.
Does `pyre check` give you a different error code?

[2021-11-02 04:19] rohori commented on #521
Thanks for your comment.
[`pyre check` did give me exit code 1](https://github.com/rohori/gha-test-py/runs/4075877770?check_suite_focus=true).
[`pyre` returned 0](https://github.com/rohori/gha-test-py/runs/4073850201?check_suite_focus=true).

[2021-11-02 19:41] arthaud commented on #521
I was able to reproduce. Let me see if I can fix this quickly.

[2021-11-02 23:20] arthaud commented on #521
It seems like a bug in click, see https://github.com/pallets/click/issues/2124

[2021-11-05 00:09] jesboat opened #527 "Cannot instantiate subclasses (including newtypes) of floats"
Consider the following example:

[code]

Pyre [expands](https://github.com/facebook/pyre-check/blob/e54bc66c203845a4318da54e4a61563c0e6dd1b5/source/analysis/test/newTypeTest.ml) the NewType definition into:

[code]

which fails with:

[code]

This is a very awkward case. Python's `float` is subclass of ABC `numbers.Real` (which is [hardwired into Pyre]((https://github.com/facebook/pyre-check/blob/

[2021-11-05 00:15] arthaud commented on #527
cc @grievejia or @pradeep90 might have an opinion here.

[2021-11-16 02:05] yamin-oanda commented on #308
I am facing the same issue with the following `.pyre_configuration`:

[code]

[code]

The [Configuration](https://pyre-check.org/docs/configuration) page shows the regex with slashes preceded by backslashes. I tried that: `"exclude": [".*\/.py3dev\/.*"]`, no effect.

What is the correct regex to use here?

[2021-11-16 14:39] Trolldemorted opened #539 "pyre_extensions.safe_json does not work with typed dictionaries"
I tried to recreate your safe_json typed dictionaries example from your [readme](https://github.com/facebook/pyre-check/tree/main/pyre_extensions#safe-json), but it doesn't work:

[code]
throws instead of successfully parsing the input into an instance of Movie:
[code]

The code was executed in a fresh virtualenv (`CPython3.8.10.final.0-64`) that executed `pip3 install pyre_extensions`:
[code]

[2021-11-18 00:49] grievejia commented on #539
cc. @pradeep90

[2021-11-19 21:53] grievejia commented on #539
@Trolldemorted  Actually, I think this is only a problem for Python<=3.8. One workaround for pre-3.9 Python is to import `TypedDict` from `typing_extensions` instead.

[2021-11-22 01:42] rohori opened #541 "Incompatible parameter type: Expected typing.Callable"
# Pyre Bug

**Bug description**
The parameter type is reported incompatible.

**Reproduction steps**
[code]

**Expected behavior**
successful type check, where
`vmap.V` = `Tuple[first.F, first.S]` = `(str, int)`
`vmap.R` = `first.F` = `str`
`vmap.K` = `str`

**Logs**
[code]

**Additional context**
* make `t` positional-only (`def first(t, Tuple[F, S], /)`) does not help
* `f` is actually NOT posit

[2021-11-26 19:34] deknowny opened #545 "Failed with code -13"
# Pyre Bug
I can't run `pyre check` at all

**Bug description**
I installed `pyre` via PyPI in my `.venv` on MacOS. Then execute this:
[code]
and got this
[code]
I add `—noninteractive` flag and got this:
[code]
**Extra**
Generated `.pyre_configuration` with `pyre init`
[code]
**Enviroment**
I reproduced this bug on `python3.10` and `python3.8` both on MacOS Catalina

[2021-12-03 10:00] SpikeI opened #550 "How to detect data flows outside the function ?"
I found that I can get a issue when the code in a function, such as :
I want to find data flow from os.chdir to exec:
[code]
I can get issue from the code above, but there will be nothing if i scan the code like this:
[code]
How can I get this kind of data flow?

[2021-12-06 17:20] kbansal commented on #550
@arthaud @gbleaney : I believe this is related to Pysa -- could one you respond to this? Thanks!

[2021-12-06 22:01] arthaud commented on #550
Thanks for the report @SpikeI. I'm able to reproduce it. Let me investigate.

[2021-12-06 23:19] arthaud commented on #550
I have a fix for it, it should be out soon. It will be in the next release.

[2021-12-07 01:37] arthaud commented on #550
Fixed in 4b9640553d07cecf95d3fbae051bca8dd5e9638b

[2021-12-07 01:37] #550 closed

[2021-12-08 17:43] alega19 opened #551 "Pyre does not work: ƛ Check command exited with non-zero return code: 1"
# Pyre Bug

**Bug description**
Does not work, returns exit_code = 1

**Reproduction steps**
Ubuntu 18.04.6 LTS, python 3.7, current dir = /home/oleg
[code]
I accept Default: `.`
`cat .pyre_configuration`:
[code]
`pyre`:
[code]

I tries use flag `-n`
`pyre -n`:
[code]

**Expected behavior**
I expect to see typing error message in `main.py`.

`pyre rage > pyre_rage.log`:

<FILE>
[pyre_rage.log](htt

[2021-12-09 01:59] stroxler commented on #551
Thanks for the bug report @alega19! I'll try to take a look soon, hopefully before end-of-week.

[2021-12-09 03:04] SpikeI commented on #550
Should I add any config for this feature?

[2021-12-09 15:15] 0xedward commented on #551
Hey @alega19, I noticed the following in your `pyre_rage.log`:
[code]

This [post](https://superuser.com/questions/537683/how-to-fix-lib-x86-64-linux-gnu-libc-so-6-version-glibc-2-14-not-found#answer-537694) might provide a possible explanation for the error you are running into.

If you run `sudo apt-get update && sudo apt-get install --only-upgrade libc6` then run Pyre again, would it fix the is

[2021-12-09 17:53] arthaud commented on #550
That will be in the next pip release. Unfortunately, we don't have a schedule for this, but I can try to push one today.
Once it is out you can just run `pip install -U pyre-check`

[2021-12-09 18:41] arthaud commented on #550
Alternatively, you could use our nightly package: `pip install pyre-check-nightly`

[2021-12-10 08:13] SpikeI commented on #550
Thanks

[2021-12-11 17:03] bossenchen commented on #545
I ran into the same bug on MacOS10.14.6, and the error message and reason seemed to be the same.

[2021-12-12 00:02] puruzio opened #553 "pyre-check doesn't detect naive date vs. tz aware date type difference"
Why can't Pyre find this type error?

[code]

[2021-12-12 02:34] stroxler commented on #553
The loose answer is that the type system is only aware of what we tell it.

In the builtin python datetime library, localized and non-localized dates are instances of the same class, distinguished only by state rather than by type. The pytz stubs explicitly state that the type returned by `localized` is `datetime`:
https://github.com/python/typeshed/blob/master/stubs/pytz/pytz/__init__.pyi#L31

Th

[2021-12-12 04:04] puruzio commented on #553
Thanks for your kind response!

[2021-12-12 04:04] #553 closed

[2021-12-12 07:43] mrajancsr commented on #119
question, i'm having the same error. How do i add qtconsole to exclude configuration?
"exclude": ["qtconsole"] ?

[2021-12-13 01:08] stroxler commented on #541
I think this is probably a bug in pyre, the code looks correct to me.

My guess is that it has to do with the handling of type variables, rather than named-vs-positional-only arguments, but until we find the root cause it's hard to say.

I'll put a task in our backlog to look at this. Thanks for the bug report!

[2021-12-13 01:14] stroxler commented on #425
cc @kbansal I believe you've implemented TypeGuard support, can we close this issue?

[2021-12-14 09:08] TurnrDev opened #554 "pyre doesn't work under windows"
Windows doesn't support fcntl :(

https://github.com/facebook/pyre-check/blob/7087d83a1db1547a9c11c6f3623c2be7fc051db8/client/filesystem.py#L7

[2021-12-14 09:29] lukaspiatkowski commented on #436
I see the exact same behaviour on an arm64 docker image.
Just to add, when pyre is run directly it returns:
[code]

[2021-12-20 13:44] boriscc opened #557 "Pysa does not detect source->sink flows in top level"
Hi,

I am not sure if the following behaviour is inteded or not, but it seems buggy. It seems that lines in a module's top level, i.e. outside any function or class, is treated as isolated from surrounding lines. Example:

I here refer to exercise1 in the pysa tutorial in the pyre-check git. In views.py there is a function called operate_on_twos, which has one issue since the GET variable is used

[2021-12-20 18:15] arthaud commented on #557
Hi @boriscc,

This is a duplicate of #550
Please install the nightly version with `pip install pyre-check-nightly` until we publish a new release.

[2021-12-20 18:15] #557 closed

[2021-12-22 08:09] boriscc opened #558 "More issues with dataflow in top-level code"
# Pysa Bug
**Pre-submission checklist**
[X] I've checked the list of [common issues](https://pyre-check.org/docs/pysa-quickstart/#common-issues) and mine does not appear

**Bug description**
Related to bug #550. Using nightly, the example in that bug report now works, i.e. it reports an issue on

[code]

when written in the top level. However, it will still fail to detect an issue if exec is wrapp

[2021-12-22 12:31] jiridanek opened #559 "Support `__path__` in packages"
# Pyre Bug

**Bug description**
This is the same problem that mypy just fixed, https://github.com/python/mypy/issues/1422

**Reproduction steps**
[code]

This line produces pyre-check error:

[code]

**Expected behavior**
The `__path__` symbol should be recognized as an Iiterable producing strings, according to [https://docs.python.org/3/reference/import.html#path__](https://docs.python.org/3/refe

[2021-12-22 19:58] arthaud commented on #558
Thanks a lot for the report! This is actually a source of non determinism in the analysis and we have been tracking those for a long time. This is a bug due to not tracking top levels in the call graph and dependency graph. A fix will be out shortly.

[2021-12-23 00:57] arthaud commented on #558
Fixed by e2c7b63f871e7aedf4336adae61f5da06ef59ec5.

[2021-12-23 00:57] #558 closed

[2022-01-04 15:11] Phil305 commented on #392
@CapCap This issue also happens for me when, but under slightly different condition.
I'm getting an error when I do either of these:
[code]

Error msg:
`Undefined or invalid type [11]: Annotation `auth.SpotifyClientId` is not defined as a type`

Pyre definitely should be able to handle an explicitly defined new type alias, this is surprising behavior, yeah?

[2022-01-04 18:30] arthaud commented on #559
Hi @jiridanek, thanks for the report. I have opened an issue in our internal tracker at Meta.

[2022-01-05 14:14] zsol commented on #554
Even worse, recent releases of `pyre-check` fail to `pip install` correctly on windows. [For example](https://github.com/Instagram/LibCST/runs/4715271871?check_suite_focus=true): https://gist.github.com/zsol/2c9f8228df3e3dd45be0465b77e47630

I had to add an environment specifier to my pip `requirements.txt` file to work around this:
[code]

[2022-01-06 03:22] grievejia commented on #554
I don't think Pyre has Windows support at the moment :( Even if we avoid the `fcntl` import, which I believe we could, the OCaml binary simply does not run properly on Windows machines. Don't think this is going to change any time soon unfortunately.

[2022-01-09 00:03] asah opened #560 "0.9.9 release getting rejected due to bad JSON ?"
hope this helps!

[code]

(I'm trying to compile [zulip](https://github.com/zulip/zulip)...)

[2022-01-09 22:56] tiwilliam opened #561 "Obtrusive VS Code notifications"
The VS Code language server/client is very obtrusive with three notifications on every type check, sent from `pyre persistent`. I'm not fully sure if I have misconfigured something or if this is by design.

<img width="582" alt="Skärmavbild 2022-01-09 kl  23 51 08" src="https://user-images.githubusercontent.com/190349/148704428-58598cff-c5db-4775-98b8-3e27e1759950.png">

Notifications in question

[2022-01-10 00:08] tiwilliam commented on #561
Found this in the debug log:
[code]

So my window seems to be set to `None` for some reason.

[2022-01-10 10:01] tiwilliam opened #562 "Segfault on ipython"
# Pyre Bug

**Bug description**
Segfault when running pyre check on ipython 7.31.0.

**Reproduction steps**
[code]

Output:
[code]

**Expected behavior**
No crash.

[2022-01-10 16:03] grievejia commented on #561
Yeah I was being lame about those notifications. `window` being not-None is a Meta-internal setup where the messages are shown in status bar instead of as notifications, and it is expected that stock VSCode does not have that.

For OSS setup, would it be fine if I just don't send those messages to begin with?

[2022-01-11 08:30] tiwilliam commented on #561
Ok, make sense. Yeah, skipping those messages are probably the way to go to make this a bit more useful for OSS. Would be OK to keep the connect/disconnect message. Thanks for the quick response.

[2022-01-12 00:46] martindemello opened #564 "pyre missed a function call with missing posargs"
# Pyre Bug

**Bug description**

A method defined with two required posargs did not raise an error when called with one arg.

**Reproduction steps**

See this pull request: https://github.com/Instagram/LibCST/pull/595/files

The `handle_Index` method is defined with two required posargs, but is called on line 274 with just one. `pyre check`
 did not catch it.

[2022-01-17 21:14] aryx commented on #254
Actually you can hack ocamllex to recognize some unicode characters.
See https://github.com/returntocorp/pfff/pull/502/files for examples.

[2022-01-17 21:16] aryx opened #568 "Can pyre check both the .py and .pyi at the same time and make sure the .py implements .pyi?"
I want to define the interface of foo.py in a separate file foo.pyi, but then when I tried mypy, I get errors because mypy can check only one of them.
See https://github.com/returntocorp/semgrep/pull/4534 for example.
Can pyre check both the .py and .pyi?

[2022-01-18 08:15] aryx opened #569 "Typing errors not detected with basic int and bool"
With this code in foo.py
[code]
which contains 2 typing errors IMHO (passing a bool to foo where it expects and int, and doing a test x == 2.2 with
a float where x is of type int), pyre doesnt report anything.

[2022-01-18 08:22] aryx commented on #568
For example with pyre, if I create a foo.py containing a function foo(), and later define a foo.pyi declaring this function foo,
then whatever I do in foo.py is not checked anymore. It's like pyre consider that the .pyi has precedent over the .py and does not check anymore the code in it.

[2022-01-18 16:34] #569 closed

[2022-01-18 22:44] kbansal commented on #568
Hi, Thanks for your interest in Pyre. As far as I know, that is not possible.

(CC @grievejia, in case have any additional context on this)

[2022-01-18 22:44] #568 closed

[2022-01-19 00:26] shannonzhu commented on #568
@aryx  Hi! Curious to clarify what the expected behavior would be here. Currently, we do consider the .pyi as taking precedence over the .py file, because there's nothing guaranteeing that the two files are actually consistent. Many users will use a .pyi file to override the types of some very dynamic or hard-to-annotate APIs and provide a simple or gradual interface.

Even if that were not an int

[2022-01-19 01:42] arthaud commented on #568
I am just guessing but I think the point is that pyre will only check the `.pyi` and not the `.py`, but there could be type errors in the `.py` (e.g, in function bodies). I think this is a valid point.
Checking the consistency between the `.pyi` and the `.py` is another problem.

[2022-01-19 08:03] aryx commented on #568
Just to clarify, I'm mainly an OCaml programmer and I love having a .mli defining the interface implemented in a .ml. This forces developers to think in terms of interfaces (interface in the original sense of the meaning, not in the Java/Python/.. class oriented meaning), this makes it more obvious when the interface of a module is just too big and messy, and it just provides clear boundaries of w

[2022-01-19 21:58] grievejia commented on #568
The relation between `.pyi` and `.py` file is defined to be very different from the relation between `.mli` and `.ml` file. In the OCaml case, `.mli` files are supposed to be the "interfaces" whereas `.ml` files are supposed to be the implementations that corresponds to the `.ml` files. But in Python, `.pyi` file has nothing to do with this interfaces/implementation distinction. The sole reason wh

[2022-01-20 00:34] shannonzhu commented on #568
I agree it would be harmful to try to re-use the concept of a `.pyi` file as a interface definition because of its use case as an escape hatch. As @grievejia said, the explicit expectation is that stub files are either not entirely consistent with the underlying `.py` module, or not owned by the same authors. We really try to encourage the deletion of `.pyi` files the moment they become consistent

[2022-01-21 19:56] grievejia commented on #560
Should be fixed in 0.9.10

[2022-01-21 19:56] #560 closed

[2022-01-21 19:56] grievejia commented on #562
Is the crash still reproducible in `v0.9.10`?

[2022-01-22 10:15] tiwilliam commented on #562
Nope, nice work!

[code]

[2022-01-22 10:15] #562 closed

[2022-01-22 20:19] GBeauregard opened #574 "Pyre cannot handle some methods on constrained typevars."
# Pyre Bug

**Bug description**
When using some string functions on constrainted `AnyStr` typevars, pyre erroneously widens the type and throws incorrect incompatible return type errors.

**Reproduction steps**
[code]

**Expected behavior**
The above code should type check and not give incompatible return type errors. Both mypy and pyright can handle this code snippet.

**Logs**
[code]

[2022-01-22 20:45] GBeauregard opened #575 "Conditionals can cause attribute type narrowing to fail"
# Pyre Bug

**Bug description**
In certain cases conditionals can cause class attribute type narrowing to fail.

**Reproduction steps**
[code]

**Expected behavior**
The above code should type check and the type should be revealed as `Path` instead of `Optional[Path]`. Both mypy and pyright can handle this code snippet.

**Logs**

[code]

**Additional context**
Client version: 0.9.10
Binary versio

[2022-01-22 21:21] GBeauregard opened #576 "pyre can forget type narrowing in certain circumstances"
# Pyre Bug

**Bug description**
When calling functions in certain circumstances it is possible to coerce pyre to forget its type narrowing.

**Reproduction steps**
[code]

**Expected behavior**
The code should type check and `result.stdout` should stay narrowed to not include `None`. Both mypy and pyright can handle this code snippet.

**Logs**

[code]

**Additional context**
Client version: 0.9.1

[2022-01-22 21:49] GBeauregard commented on #576
Closing as intentional https://pyre-check.org/docs/errors/#optional-attributes

[2022-01-22 21:49] #576 closed

[2022-01-22 21:50] GBeauregard commented on #575
Closing as intentional https://pyre-check.org/docs/errors/#optional-attributes

[2022-01-22 21:50] #575 closed

[2022-01-24 20:28] kbansal commented on #574
Thanks for the bug report and repro!

[2022-01-25 17:29] GBeauregard opened #577 "Allow Annotated to wrap Final and ClassVar"
# Pyre Bug

**Bug description**
The behavior of `Annotated` has been changed so that it is allowed at runtime to wrap `ClassVar` and `Final`. This change helps avoid friction with other users of annotations; see https://bugs.python.org/issue46491 for context. This change has [landed in 3.11](https://github.com/python/cpython/commit/e1abffca45b60729c460e3e2ad50c8c1946cfd4e) and has been backported

[2022-01-26 03:23] stroxler commented on #577
Great, thanks @GBeauregard for flagging this!

[2022-02-01 20:37] aspeddro commented on #183
I keep getting this error:

[code]

`.pyre_configuration`
[code]

The command `pyre` works on terminal:

[code]

[2022-02-07 19:16] mrahtz opened #578 "Callable with variadic args does not accept function with `*args: int`"
The following example...

[code]

...should type-check correctly; `foo` expects a function with a single variadic argument, and that's exactly what `bar` is. But Pyre (0.9.10) says:

[code]

It works if `*args` isn't annotated:

[code]

It also works if `*args` is annotated as explicitly variadic:

[code]

So I'm guessing this is some kind of bug with the logic for determining whether `*args` is v

[2022-02-07 19:32] mrahtz opened #579 "Callable with variadic args cannot be called with non-variadic arguments"
The following example...

[code]

...should type-check correctly; `bar` is a function taking a single variadic positional argument, so passing a single positional argument of `1` should be fine. But Pyre (0.9.10) says:

[code]

The only things that seems to work are

[code]

and

[code]

I also tried

* `bar(1, 2)`
* `bar((1, 2))`
* `baz: tuple[int, ...]; bar(baz)`
* `baz: tuple[int, ...]; bar(*ba

[2022-02-07 20:02] pradeep90 commented on #578
@mrahtz  Yes, this is a bug. We don't treat them as identical. Will fix.

[2022-02-07 20:06] pradeep90 commented on #579
No, it should not type check. Specifically, `Ts` is bound within the scope of the function `foo`. So, `bar` is not a function taking an arbitrary `*Ts`, it is a function taking the specific `*Ts (bound in foo)`.

We can see that the code above is unsound by calling `foo(expect_str_bool)`. `bar(1)` would be a runtime error:

[code]

The same goes for the other snippets at the bottom.

[2022-02-07 20:06] #579 closed

[2022-02-14 19:03] kbansal commented on #425
Yes, this is now implemented. Closing.

[2022-02-14 19:03] #425 closed

[2022-02-15 23:39] tiwilliam commented on #561
Confirmed working in pyre-check-nightly. Thanks!

[2022-02-15 23:39] #561 closed

[2022-02-16 14:38] nerdinand opened #583 "Pyre crashes encountering file size restrictions"
**Bug description**
I'm trying to run pyre in a fairly restricted CI environment. The process is only allowed to create files of 4GB (4294967296 Bytes) maximum size. Running pyre in this environment yields this error message:
[code]

**Reproduction steps**
This is reproducible for example using Docker:

Dockerfile:
[code]

Build it and run it:
[code]

**Expected behavior**
I'd expect pyre not to c

[2022-02-20 11:48] thomkeh commented on #503
I think this has been fixed.

[2022-02-20 11:48] #503 closed

[2022-02-23 07:10] not-my-profile opened #592 "Checking a single line of Python takes 5s because the whole typeshed is parsed"
# Pyre Feature Request

[code]

It would be nice if pyre could parse the type stubs on demand instead of upfront to reduce the startup time.

[2022-02-28 18:57] grievejia commented on #592
Thanks for the report!

 Lazy parsing is something that we want to implement, but it requires some nontrivial amount of work so it probably will not happen soon. The tentative plan we have now is to implement some short-term mitigations (e.g. supporting PEP 561 out-of-the-box so we could drop the `third-party` typeshed bundled with Pyre) first. Fully addressing the issue would probably happen late

[2022-03-08 11:01] aravind-spnp opened #597 "Adding type annotations automatically to the .py files"
Hi, i use pysa to analyze large codebase (mostly django, flask and python scripts) for potential vulnerabilities, but most of the source codes are not type defined / annotated, hence it results in false negative most of the cases are like as mentioned here (https://pyre-check.org/docs/pysa-false-negatives/#example).

I also cannot run the source and get the type definition / annotation at runtime

[2022-03-08 16:40] gbleaney commented on #597
If you can't get the code running, take a look at these coverage increasing strategies for some potential alternatives:
https://pyre-check.org/docs/pysa-coverage/

Feel free to re-open if you have any more questions!

[2022-03-08 16:40] #597 closed

[2022-03-09 05:50] aravind-spnp commented on #597
``

[2022-03-09 06:01] aravind-spnp commented on #597
[code]

In the above example is there any other way to annotate the runner instance automatically as ``` runner: Runner ``` so that pysa could recognize the type of 'runner' .

[2022-03-09 16:34] gbleaney commented on #597
If you have access to the running code, `MonkeyType` might work. But other than that, no, we have no automated way to perform that annotation. There's simply not enough information for our tools.

[2022-03-10 05:55] aravind-spnp commented on #597
okie... Thanks @gbleaney

[2022-03-13 17:11] callmekofi commented on #583
I had the same error with a file size of 8GB, I checked stackoverflow but there was solution

[2022-03-14 23:24] tspence opened #598 "Detect import problems with __future__"
# Pyre Feature Request

Detect when the import of `from __future__ import annotations` is not the first import in a file and create an error for it.

**Is your feature request related to a problem? Please describe.**

My library has nested data models similar to the following:

[code]

Pyre accepts this, but when run in Python, it reports the following error:
[code]

**Describe the solution you'd

[2022-03-20 15:26] davidfstr commented on #545
Ditto (exact same macOS version).

[2022-03-20 17:13] davidfstr opened #599 "Does not understand instantiation of TypedDict defined within same function"
# Pyre Bug

**Bug description**
Instantiation of a TypedDict which is defined within the _same function_ (and not at the top-level of a module) is flagged incorrectly as a type error.

**Reproduction steps**

* Create this file:

[code]

* Setup Pyre: `pyre init` (and [everything else in the docs](https://pyre-check.org/docs/getting-started/)...)
* Run Pyre with: `pyre`
* Does output type errors:

[2022-03-20 19:05] davidfstr commented on #179
Seems like the [Getting Started page](https://pyre-check.org/docs/getting-started/) new mentions the recommendation/need to have a `.watchmanconfig`, and `pyre init` does attempt to create such a file.

So I think this issue can be Closed.

[2022-03-21 08:17] m1n9o commented on #504
+1 Is there any workaround for this?

[2022-03-21 22:05] deknowny commented on #545
Looks like maintainers haven’t seen the issue yet, how to ping them?

[2022-03-21 22:11] davidfstr commented on #545
Usually I look at what persons have committed code most recently. And then mention them (with @). In this case I'd prioritize pinging anyone who prioritizes maintaining macOS support.

[2022-03-21 22:42] grievejia commented on #545
Sorry for the late response!

Regarding MacOS 10.14.6 support -- I wish I could do something about it but I don't really have easy access to any hardware with that OS version at the moment. It seems like the OS version itself is not under active support as of 2022, plus I've recently bumped Pyre's minimum required version of MacOS to 11.0 (a requirement of `pip` on native Apple Silicon). Hence the

[2022-03-22 17:43] deknowny commented on #545
@grievejia thank you for the response! That's my computer detail from `neofetch`:
[code]
  I would glad to update my computer to 11 version but it's not supported for my Mac (it's 2013 year model)

[2022-04-05 11:03] giusepperaffa opened #601 "Module boto3 - Invalid Model Issue"
I have been trying to use Pysa (Ubuntu 20.04 + virtual environment + Python 3.8) to perform a data flow analysis of a [function](https://github.com/giusepperaffa/si-tool-application-self-test/blob/main/sample_python_subprocess_call.py) that relies on the boto3 module. The relevant lines of code are below. The `list_objects` call should be the source of my analysis.

`s3 = boto3.client('s3')`
`list

[2022-04-05 11:57] r0rshark commented on #601
Hi @giusepperaffa  thanks for the detailed issue! Attempt number 3 should be the right approach (boto3 is extremely dynamic and Pysa need the mypy stubs definitions in order to correctly work). Given the error message it looks like pyre is not able to pick up the `mypy_boto3_s3` module:
1. Is the module installed in the virtualenv (`pip install mypy-boto3-s3`)? Are you able to see the folder `mypy

[2022-04-06 01:03] Jarvx opened #602 "Invalid configuration: Configuration option `source_directories` cannot be overridden."
Hi,

I followed the setup documentation and managed to install the library. Then I ran the following command at the root of my Python project but obtained the error.

`pyre init`

`pyre`

`ƛ Invalid configuration: Configuration option `source_directories` cannot be overridden.`

Can someone help with resolving this error? Please let me know if you need any additional information.

[2022-04-07 09:37] giusepperaffa commented on #601
Hi @r0rshark - Thank you very much for your help:

1. You were correct, the module `mypy_boto3_s3` was not installed in my virtualenv. The execution of the command `pip install mypy-boto3-s3` solved the issue, and I can now see the folder `mypy_boto3_s3` within the `site-packages` folder of my virtualenv.
2. Yes, I have manually updated my configuration file as suggested [here](https://github.com/

[2022-04-07 14:02] #601 closed

[2022-04-22 00:12] zhiqiand opened #606 "Oceans of pyre errors after changing to the new version"
# Pyre Bug
Recently I got the following pyre errors in Github Actions
[code]
My guess is that pyre has a new version released so I changed the pyre version in `.pyre.configuration` file from
`  "version": "0.0.101645531904"`
to:
`  "version": "0.0.101650366839"`
Thus the pyre version I downloaded in the Github Actions also changed.
After that, there are **oceans** of pyre errors occurred. For exam

[2022-04-23 22:18] code-review-doctor opened #607 "Missing `f` prefix on f-strings"
Some strings looks like they're meant to be f-strings but are missing the `f` prefix meaning variable interpolation won't happen.

https://github.com/facebook/pyre-check/blob/5fa00d5c0ee367a0565cc74bc55c10a4b362bd1a/client/dataclasses_merge.py#L144
https://github.com/facebook/pyre-check/blob/5fa00d5c0ee367a0565cc74bc55c10a4b362bd1a/client/dataclasses_merge.py#L149
https://github.com/facebook/pyre-

[2022-04-28 21:27] davclark commented on #183
It appears that vscode-pyre still won't use a project venv. I tried setting the binary path (as suggested by @aspeddro above) and this doesn't fix the "Couldn't start..." issue. You can enable the extension by installing pyre-check in your "default" python (i.e., the one that would be found without activating a project-local env).

[2022-05-12 03:44] dhavalgshah opened #612 "Type Narrowing Fails when internal attribute of Class instance differs from __init__ params"
# Pyre Bug

**Bug description**
Pyre carries forward the type definition from the `__init__` params even when the internal attribute type definition can be narrowed.

**Reproduction steps**

[code]

**Expected behavior**
Type for `self.y` should have been `int` and not `Optional[int]` because

1. `y` has no type annotations declared in class
2. when assigned `x` is definitely an `int`
3. assignmen

[2022-05-25 12:09] Bobronium opened #614 "`pyre` crashes with `ƛ [Errno 86] Bad CPU type in executable: '/.venv/bin/pyre.bin'` on arm64 macOS"
# Pyre Bug

**Bug description**
`pyre` crashes with `ƛ [Errno 86] Bad CPU type in executable: 'venv/bin/pyre.bin'`

**Reproduction steps**
[code]

<details>
<summary>Reproduction output</summary>

[code]

</details>

**Expected behavior**
Pure binary installed via pip is suitable for arm64

<details>
<summary>pyre rage output</summary>

[code]
</details>

Please run your reproduction steps followe

[2022-05-28 12:24] mrahtz opened #615 "Implement support for starring from PEP 646"
# Pyre Feature Request

PEP 646 enables the star operator `*` to be used within square brackets. This enables, for example:

[code]

I don't think support for this is implemented in Pyre yet. `Unpack` works:

[code]

But not `*`:

[code]

[code]

@pradeep90 I think this is your area? :)

[2022-05-28 12:35] mrahtz opened #616 "Support unpacked arbitrary-length tuple in type argument lists"
# Pyre Bug

PEP 646 specifies that the following behaviour should be valid:

[code]

I think Pyre doesn't handle this correctly yet. For example:

[code]

[code]

Similarly, the following should be valid with type aliases:

[code]

With Pyre:

[code]

[code]

@pradeep90 I think this is yours too?

[2022-05-31 15:17] grievejia commented on #615
Pyre uses the same parser that  CPython 3.10 uses at the moment. The `*` syntax is illegal in 3.10 -- meaning that even if Pyre does support it, the code itself will never be runnable today since the CPython interpreter will reject it with a syntax error.

That said, we do have plans to switch to another custom parser with error-recovering capability, at which point we might be able to decide if t

[2022-06-01 18:07] mrahtz commented on #615
Oh! Fair enough. If this is something that's happening anyway, I'll close this.

[2022-06-15 21:30] taion commented on #132
It looks like support was added in https://github.com/facebook/pyre-check/commit/64487f55ce9fba75d894701eb35b23a147743c46. Should this issue be closed out?

[2022-06-23 19:18] willbtlr-rh opened #632 "Module `os` does not define `os.path.join`."
# Pysa Bug
**Pre-submission checklist**
[ x ] I've checked the list of [common issues](https://pyre-check.org/docs/pysa-quickstart/#common-issues) and mine does not appear

**Bug description**
Running `pyre analyze` with the following model:
[code]

results in the following error:
[code]

I also tried `def os.path.join...`

**Reproduction steps**
put
[code]
in  `sinks.pysa`

and then run `pyre ana

[2022-06-27 21:45] dvarrazzo opened #635 "Python stdlib `string.Formatter` doesn't understand `LiteralString`"
Hello,

I have tried to use pyre to introduce `LiteralString` in psycopg 3 codebase.

I could fix all the internal usage of LiteralString, however, several methods of  [`string.Formatter`](https://docs.python.org/3.8/library/string.html#string.Formatter) might be considered returning `LiteralString` on `LiteralString` input.

See: https://github.com/psycopg/psycopg/blob/600d6dfaf1366d2eca4486f7686

[2022-06-27 22:19] dvarrazzo commented on #635
Please see the related issue https://github.com/psycopg/psycopg/issues/323

The OP also opened a ticket to typeshed at https://github.com/python/typeshed/issues/8195

[2022-06-28 20:12] stroxler commented on #635
Thanks for letting us know!

At this point my guess is that Pyre won't need to do anything except bump our vendored typeshed stubs once the problem is fixed in upstream repositories, we ought to work out-of-the box against correct stubs. Feel free to ping us once that has been done, and if there are still problems we can circle back and figure out why.

[2022-06-30 14:57] dvarrazzo opened #636 "LiteralString not checked?"
Hello,

I am introducing `LiteralString` in psycopg 3: see the [literal-string](https://github.com/psycopg/psycopg/tree/literal-string) branch. As a final result, functions such as `cursor.execute()` would require a literal string rather than any string expression.

Running pyre on psycopg codebase found some of the places where regular string were passed to functions accepting LiteralString (http

[2022-06-30 17:34] red-avalanche opened #637 "--local-configuration/-l option no longer available despite documentation covering it's use"
# Pyre Bug

**Bug description**
The [online documentation](https://pyre-check.org/docs/configuration/#local-configurations) for Pyre describes use of the option `--local-configuration` to make use of `.pyre_configuration.local` files. When using that flag `pyre` throws an error that the option no longer exists and `pyre --help` makes no mention of the option.

**Reproduction steps**
Run pyre using

[2022-07-01 21:07] stroxler commented on #637
Thanks for the bug report @red-avalanche!

Is local configuration support something that would be useful for your project? If so, I can work on bringing support back (the plumbing is still there because we use it in one of our mega-repos; I think we probably removed it because we thought it wouldn't be useful to external users but we forgot to strip it from the docs).

If not, I'll work on updatin

[2022-07-02 05:42] frec-james opened #638 "Pyre failing to find some but not all 3rd party modules"
I'm hitting the following issue with pyre not finding some modules, django in particular.

$ pyre
[code]

The code compiles and runs fine, here is the configuration:
$ pyre -n check
[code]

Django is install in `<venv dir>/lib/python3.10/site-packages/django ` ad I'm not sure why pyre is not able to find it. I have tried explicitly providing the path with `--search-path` in all the variations I ca

[2022-07-02 05:47] frec-james commented on #638
Ah, I was able to address this issue by changing my `site_package_search_strategy` to "all" in my `.pyre_configuration`.

[2022-07-02 05:47] #638 closed

[2022-07-02 21:05] red-avalanche commented on #637
Yes I intended to use it for one of our mono-repos as well. It would be much appreciated if y'all kept that feature!

When using it is there a way to run Pyre against all the .local configs in one command? Will Pyre just automatically search for the .local files or is there any other configuration option to specify them all? I wasn't able to test since the option was removed.

[2022-07-05 15:13] stroxler commented on #637
As far as I know there's no way to run against all .pyre_configuration.locals, no. It would be pretty easy to cobble together a script, although for our use case it wouldn't be feasible anyway (that script would probably run for days if it ran in serial - we only kick off CI on subprojects relevant to a specific commit).

For what it's worth, if you enforce namespace consistency across all subproj

[2022-07-05 15:40] red-avalanche commented on #637
Using Pyre inside a tool like buck actually makes more sense than having Pyre iterate through all the `.local` files. Thanks for adding the `.local` file functionality back.

[2022-07-08 15:25] stroxler commented on #637
Question for you - how big a problem would it be to use separate global configurations in each subproject of your repository?

It should behave exactly like using local configs, except that you may need to duplicate some flags that could be shared repo-wide (in reality that's all a global config + local config does anyway - the local config overlays options on top of the global config).

The conte

[2022-07-08 16:39] red-avalanche commented on #637
It wouldn't be a huge problem I guess. Duplicating flags might get annoying since each project in the monorepo would be independent, but that's the only issue I can see.

If that's the route y'all are going it may be helpful to explain how to handle monorepos in the documentation, replacing the .local section.

Jul 8, 2022, 10:25 by ***@***.***:

[2022-07-12 14:41] stroxler commented on #637
Sounds good. I've updated the docs.

If having multiple configurations turns into a major pain point let us know and we could revisit this.

Also feel free to reach out if you have any other pyre setup problems or questions!

[2022-07-12 14:41] #637 closed

[2022-07-12 16:29] grievejia commented on #614
Do you have `rosetta` installed on your machine? If not, you can run `softwareupdate --install-rosetta` to install it.

[2022-07-12 17:32] Bobronium commented on #614
No, I don't and I won't. It's an obvious workaround, but I'd prefer native arm64/apple silicon support.

[2022-07-12 17:37] grievejia commented on #614
Including apple silicon binary in our release is indeed better, but I don't think the team has capability to work on it in the short term.

I'll leave this issue open until someone in the team picks it up then. In the meantime, I think the only way around is to do a local build on M1.

[2022-07-19 13:57] gbleaney commented on #635
https://github.com/python/typeshed/pull/8268 is landed. @stroxler and chance of a typeshed upgrade + pyre release so we can close out this issue?

[2022-07-29 10:08] adam-mrozik commented on #504
+1 bumping the thread, kind of a deal breaker for Pydantic-heavy projects

[2022-07-29 20:22] grievejia commented on #504
I think this requires implementing metaclass support for PEP 681. I'm hoping to find someone to implement this in the next 2 weeks.

[2022-07-31 17:11] thomkeh opened #644 "Type narrowing on TypedDict based on types of entries"
# Pyre Feature Request

When you have a `Union` of `TypedDict` it would be nice to be able to narrow them. However, `pyre` doesn't seem to allow this. Even when using `Final`!

[code]

[2022-08-01 19:54] pradeep90 commented on #644
Yeah, we'd like to support this, but I don't think we'll get to it any time in 2022 (internal tracking task: T61938090).

[2022-08-02 05:21] dr-nemesis-96 opened #645 "Pyre-vscode doesnt work"
the bug reporting for extentions redirected me to this github repo, the extention pyre-vscode doesnt do anything at all, i ran pyre init, it gave me a output

[code]
bug errors in code dont show up in problems tab in vscode, i manually need to run pyro in terminal to check for problems in code

[2022-08-04 22:01] ASGuard-UCI opened #646 "Question about modelling imported function"

[2022-08-04 22:05] #646 closed

[2022-08-11 04:45] Nirvi1 opened #651 "NoneType object is not callable"
# Pyre Bug

**Bug description**
failure during
pyre init-pysa

**Reproduction steps**
I ran steps  according to doc

pip install pyre-check fb-sapp
pyre init-pysa

**Logs**
ƛ Would you like to generate type annotations? [Y/n] Y
Traceback (most recent call last):
  File "/home/nirvi/.local/bin/pyre", line 5, in <module>
    from pyre_check.client.pyre import main
  File "/home/nirvi/.local/lib/pyth

[2022-08-15 15:24] grievejia commented on #651
What's the version of `click` installed on your machine?

[2022-09-10 00:42] bigfootjon opened #659 "`Self` type in generic class reports error on line "-1""
# Pyre Bug

**Bug description**
In a generic class attempting to use `Self` as the return type causes a pyre error on line "-1".

**Reproduction steps**
[code]

**Expected behavior**
There should be no errors in this file. The return type of `get_self` should be inferred as `GenericType[TFoo]`.

**Logs**
Pyre output:
[code]

Please run your reproduction steps followed by `pyre rage > pyre_rage.log

[2022-09-10 00:44] bigfootjon opened #660 "Using `Self` in a parameter to a function causes a pyre error"
# Pyre Bug

**Bug description**
If a function in a class uses `Self` as the type of a parameter (other than the first arg like `self`) pyre throws an error.

**Reproduction steps**
[code]

**Expected behavior**
There should be no error, `other` should be inferred to have type `Foo`.

**Logs**
Please include any relevant logs here:

[code]

Please run your reproduction steps followed by `pyre rage

[2022-09-11 03:51] cpendery opened #662 "Consistent Publisher for Meta Open Source VSCode Extensions"
It would be great to all of Meta publish their VSCode extensions under the same, verified account. Right now, [Relay](https://github.com/facebook/relay) publishes their extension under the [Meta Open Source](https://marketplace.visualstudio.com/items?itemName=meta.relay) account, which is an unverified account. [Pyre-Check](https://github.com/facebook/pyre-check) is published under [fb-pyre-vscode

[2022-09-11 22:38] bigfootjon commented on #659
After reading the code a bit, it seems this is a known problem:

https://github.com/facebook/pyre-check/blob/main/source/analysis/test/integration/typeVariableTest.ml#L3759

[2022-09-12 22:48] bigfootjon commented on #659
After discussing with @pradeep90 it seems the only way to support this is to synthesize a pyre-ignore on the synthesized `TypeVar`. This can be added with `TypecheckFlags`

[2022-09-21 00:35] #660 closed

[2022-09-24 13:02] kloczek opened #668 "0.9.16: not ready for pep517 build procedure"
Looks like this module is not ready to be buuld usinf pep517 build procedure
[code]

[2022-09-27 08:51] FrenkyDema opened #669 "Help to fix Undefined import Error"
I'm using Pyre action fron gitHub
but at the code scanning i got undefined error

in my project i've already the requirement.txt

[2022-09-28 15:13] FrenkyDema commented on #669
![image](https://user-images.githubusercontent.com/67586090/192816584-1bce78c9-9027-4002-8657-9732560e980f.png)
This is the error it shows

This is the **requirements.txt**
[code]

[2022-10-02 12:03] MatteoH2O1999 opened #671 "Issue with release 0.9.16 and Python 3.6"
# Release 0.9.16 is classified as compatible with Python 3.6 while it is not

**Bug description**
Latest release (v0.9.16) is classified by PyPY as being compatible with Python 3.6 while support for it has been dropped.

**Reproduction steps**

1. Install Python 3.6
2. Install pyre-check
3. run `pyre check`
4. Error with line `from __future__ import annotations

**Expected behavior**
PyPI should n

[2022-10-03 20:37] kumpera commented on #551
How do we solved this on linux environments where we cannot `apt-get install`?

[2022-10-04 09:22] Lost-little-dinosaur opened #672 "pyre analyze erroring out"
# Pyre Bug

**Bug description**
when I run " pyre analyze" in exercise1's cmd，it gives me an error

**Reproduction steps**
![image](https://user-images.githubusercontent.com/82520400/193783524-adbb5e52-19f1-4933-ab08-93fe429ac839.png)

[code]

[2022-10-04 14:41] Lost-little-dinosaur commented on #672
also, I want to try the dockerfile at the "pysa_tutorial" dir, then I got this error:
![image](https://user-images.githubusercontent.com/82520400/193849239-0951556b-0912-4cf1-94ff-2eeb659fabd6.png)
I don't know why, Is Dockerfile shoud be able to run sucessfully whenever and wherever? It is my problem or yours?

[2022-10-04 20:46] drefrome commented on #504
I'm hitting the same issue using django-ninja which is built on top of pydantic. I see that basic PEP 681 support has been added, but I wonder if it's not yet fully supporting pydantic's use of `@dataclass_transform` to decorate the metaclass of a parent class?

[2022-10-08 07:59] PeteLing opened #674 "Can not build docker image from dockerfile"
Use this to open other questions or issues, and provide context here.
Ran: 7496 tests in: 111.41 seconds.
OK
make: *** [Makefile:13: test] Error 1
Traceback (most recent call last):
  File "./scripts/setup.py", line 337, in <module>
    setup(Setup)
  File "./scripts/setup.py", line 332, in setup
    build_type_override=parsed.build_type,
  File "./scripts/setup.py", line 253, in full_setup
    ru

[2022-10-09 03:12] PeteLing commented on #672
I also have this problem. It seems dockerfile in this project is unstable.It is annoying.

[2022-10-10 00:58] vors opened #675 "Pyre doesn't follow symlinks to files"
# Pyre Bug

**Bug description**
Pyre doesn't follow symlinks to files when doing the directory traversing.

**Reproduction steps**
[code]

**Expected behavior**
Should allow symlinks to files imo. There are many use-cases including some ways to construct venvs that we use at my company.
From grepping the code for the word `symlink` I have impression that the intent is to support it.

**Logs**

[co

[2022-10-10 01:31] vors commented on #675
Btw, just discovered `infer` and it's 🔥

[2022-10-10 02:54] PeteLing commented on #466
have you solve the problem？ @cosad3s

[2022-10-10 09:44] PeteLing opened #676 "Full path from source point to sink point"
# Pysa Feature Request

**Is your feature request related to a problem? Please describe.**
When using pysa analyze, I want to see the full path/trace from source to sink, but now the result only have one point (always the sink). It is inconvenient to figure out where the source from.

**Describe the solution you'd like**
Output all the code segment or position which belongs to the trace from sourc

[2022-10-10 14:21] r0rshark commented on #676
Hi @PeteLing  thanks for the question. You can see the entire trace (from the source to the sink) after processing the results with [SAPP](https://github.com/facebook/sapp#getting-started) which is the tool we use to interact/visualize the results of our static analysis tools. You can follow [this](https://pyre-check.org/docs/pysa-running/) guide and after having saved the results (last step) you

[2022-10-10 14:21] #676 closed

[2022-10-11 06:56] PeteLing opened #677 "How to add source in path('admin/', admin.site.urls)"
# Pysa Feature Request

**Is your feature request related to a problem? Please describe.**
hello, I am learning how to use pysa and I come across a question. Here is the problem.
when using Django to initialize the project.The code automatic generated
[code]
Compare to the exercise5, it just use the path which import from django.urls.
But if I write the generate_models.py like
[code]
it will be a

[2022-10-11 06:59] PeteLing commented on #677
I copy the wrong code before, Here is my code.
[code]

[2022-10-11 10:35] PeteLing commented on #676
@r0rshark thanks, I think I can get what I need in taint-output.json.Thanks a lot~

[2022-10-12 06:50] PVMPATCH opened #679 "Pyre generates a lot of false positives like "Undefined or invalid type [11]: Annotation XXX is not defined as a type.""
Use this to open other questions or issues, and provide context here.

Pyre generates a lot of false positives like "Undefined or invalid type [11]: Annotation XXX is not defined as a type."
Why can't Pyre recognize some of the most basic types such as str, list, dict?

Are there bugs in this?
I want to know how to avoid such false positives

[2022-10-12 06:51] PVMPATCH commented on #679
![屏幕截图 2022-10-12 144518](https://user-images.githubusercontent.com/92843246/195270404-9323784d-a1f9-443d-bfe1-8d02d72aacb2.png)

[2022-10-19 23:54] grievejia commented on #675
I think Pyre does find that file, but the default filtering rule exclude the file from type checking.

Specifically, we use a list of directories to differentiate files that need to be type checked, and files that should just be looked at for definitions but not checked. By default, the list contains a single directory of where the `.pyre_configuration` file is located -- meaning that any file tha

[2022-10-30 23:03] vors opened #683 "`./scripts/setup.sh --local` fails with test errors on v0.9.16 tag on ubuntu:bionic"
The tests are failing.

## Repro

Repro in a docker container.

Dockerfile:
[code]

Try to build it.

## Expected

Build should pass

## Actual

Build fails with test failure.

[code]

[2022-10-31 15:06] kinto0 commented on #683
hmm... I can't repro this locally - I think your `PYRE_VERSION` is incorrect. Latest release I see is `0.9.11` https://github.com/facebook/pyre-check/releases

[2022-11-01 21:11] gbleaney commented on #677
Hey @PeteLing, looks like we missed this issue. If you look at the error you posted, it's saying:
[code]
The `url_pattern_type` argument that you passed in (`url_pattern_type=path`) is not a type, it's the `path` function. You should instead be passing in a type as you see in the Exercise 5 example:

https://github.com/facebook/pyre-check/blob/10c375bea52db5d10b71cb5206fac7da9549eb0c/documentation

[2022-11-02 00:52] mano7onam opened #684 "PEP 646 – Variadic Generics multiple matching variants"
Have this example:
[code]
which type is expected for `expr`?

Here we can assign:

[code]

or

[code]

so `T` can be either `int` or `float`
and `*Shape` can be either `()` or `(int, float*)`

[2022-11-02 03:21] grievejia commented on #684
Is this a question about the PEP itself, or is this question more about the behavior of Pyre?

Also, cc. @pradeep90

[2022-11-02 13:30] mano7onam commented on #684
Yes, it's a question about PEP itself

[2022-11-02 14:13] PeteLing commented on #677
Hi @gbleaney    thanks for your reply~

[2022-11-02 14:31] PeteLing commented on #677
hi @gbleaney  thanks for your reply~
But I still have no idea how to cover the example I mentioned before.
[code]
and the views.py
[code]
the `path` in `django.urls` is a **function** defined in file `django/urls.conf.py`.
the Exercise5 is a example where the url_pattern_type is **a class(type)**, but in django original code, **it is a function**.
I have read the doc in https://pyre-check.org/docs

[2022-11-07 17:17] #659 closed

[2022-11-09 09:59] craigfrancis commented on #635
Would the typeshed upgrade allow "[from typing import LiteralString](https://pyre-check.org/play?input=%23!%2Fusr%2Fbin%2Fenv%20python3.11%0A%0Afrom%20typing%20import%20LiteralString%0A%0Adef%20run_sql(sql%3A%20typing.LiteralString%2C%20parameters%3A%20typing.List%5Bstr%5D%20%3D%20%5B%5D)%20-%3E%20None%3A%0A%20%20print(sql%2C%20%27%5Cn%27%2C%20parameters%2C%20%27%5Cn%27)%0A%0Arun_sql(%27WHERE%20na

[2022-11-09 20:17] JelleZijlstra commented on #635
`from typing import LiteralString` will work only if you are on Python 3.11 or higher. `from typing_extensions import LiteralString` works on all supported versions (3.7+).

[2022-11-10 11:29] craigfrancis commented on #635
Ahh, thanks @JelleZijlstra, it does work on my local machine (with 3.11); and I assume [https://pyre-check.org/play](https://pyre-check.org/play/) will be updated at some point in the future.

[2022-11-10 11:42] craigfrancis opened #687 "Playground styling for small screens"
With [https://pyre-check.org/play](https://pyre-check.org/play/), the styling is a bit wrong for small screens (e.g. mobile phones)... which makes it impossible to see the code editor.

It seems to happen because the `<main>` element has a `margin-left` of `300px`.

I wonder if the class is wrong. Rather than using `.main` (or `.main_MeqP` after preprocessing), I suspect it should be `.playgroundM

[2022-11-11 11:47] Vishnu-Naik commented on #602
### Technical Reason
This issue is mainly occurring due to the fact that pyre wont accept configuration setting `source_directories` to be overwritten.

### Root cause for this issue
So, apparently for some reason pyre init creates a file called `.pyre_configuration.local` which is actually an extension file for `.pyre_configuration`. More info [here](https://stackoverflow.com/a/66110635)
There is

[2022-11-11 12:55] Vishnu-Naik commented on #308
Technically, there is no problem with your regex and it should work as intended. Only issue I can think of is you might have not restarted the pyre, the command `pyre` doesn't seems to be taking updated `.pyre-configuration`, may be due to watchman package not working or not installed in your project. Hence I would suggest you to restart pyre to take your updated `.pyre-configuration` by executing

[2022-11-11 16:08] randolf-scholz opened #688 "Option to print current function being checked?"
I could find any sort of `verbose` flag. How can I figure out which function pyre is stuck on?

![image](https://user-images.githubusercontent.com/39696536/201381293-81f55405-a87a-4708-a209-9f157845588f.png)

[2022-11-11 21:36] pradeep90 commented on #688
Hello, you can use `pyre -n` for verbose logging. It's a bit undiscoverable right now :|

https://github.com/facebook/pyre-check/blob/07702a6b1a0f7da9aa2781640d76cc91c13481af/client/pyre.py#L203-L208

[2022-11-11 21:36] #688 closed

[2022-11-12 14:34] randolf-scholz commented on #688
@pradeep90 Hey, when I use `pyre -n`, I get

![image](https://user-images.githubusercontent.com/39696536/201479029-22a48e99-0919-4bad-8d80-15868ecc70ba.png)

which also doesn't tell me which function it is stuck on.

[2022-11-19 10:48] wlritchi opened #693 "Overloaded decorators can hide parameters with default values"
# Pyre Bug

**Bug description**

Some decorators change the type of the decorated function's inputs. Because there is no easy way to describe a "mapping" over a ParamSpec, such decorators may be typed with a series of overloads, one for each number of parameters up to a reasonable maximum:

[code]

When such a decorator is applied to a function with default values for one or more parameters, Pyre

[2022-11-24 05:01] vors commented on #675
Hi Jia! Sorry it took me so long to come back to this.

Thank you for the suggestion, this indeed makes it work!
Also, the hidden parameters are always the best! :)
I run into other problems, but I will communicate them separately if I get stuck.

[2022-11-24 05:01] #675 closed

[2022-11-29 08:22] ChillarAnand opened #695 "Allow pyre to read configuration from pyproject.toml"
# Pyre Feature Request

Having custom config files for each tool is fine. Since most tools use pyproject.toml file for configuration, if pyre supports configuration using it, it would be great.

[2022-11-29 10:02] bobakfb commented on #193
Can you elaborate on this. What's wrong with a type containing Any? I am having a similar error when using `Tuple[Any, ...]` [here](https://github.com/pytorch/torcheval/blob/main/tests/tools/test_module_summary.py#L26).